HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/application-secrets.properties


## Docker
docker/externaljars/TopoLibrary-2.2-SNAPSHOT.jar
docker/externaljars/fit.jar
#docker/volumes/** */
docker/volumes/cubetrek/maps/HGT/*
docker/volumes/cubetrek/maps/HGT_1DEM/*
docker/volumes/cubetrek/logs/*
docker/volumes/cubetrek/db/*