<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Activity List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:replace="dashboard.html :: header">
</header>


<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='activitylist')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
    </div>


    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Activity List</h1>
            </div>

            <div th:if="${numberEntries==0}" class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your Profile is empty 😔</h5>
                    <p class="card-text">Add your Tracks to get started. Upload your files, link your Garmin and Polar account.</p>
                    <a href="/upload" class="btn btn-primary m-1">Upload Activity Files</a>
                    <a href="/profile" class="btn btn-primary m-1">Link Accounts</a>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="errorbox" style="display:none;">
                Error fetching data
            </div>

            <div class="btn-group mb-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" onclick="filter('none')"checked>
                <label class="btn btn-outline-dark " for="btnradio1">All Activities: [(${numberEntries})]</label>

                <th:block th:each="act : ${activityCounts}">
                    <input type="radio" class="btn-check" name="btnradio" th:id="|radio${act.activitytype}|" autocomplete="off" th:onclick="|filter(${act.activitytype.ordinal()})|">
                    <label class="btn btn-outline-primary" th:for   ="|radio${act.activitytype}|" th:text="|${act.activitytype.displayValue}: ${act.count}|">Radio</label>
                </th:block>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th> <a href="#" class="text-decoration-none" onclick="sortBy('datetrack')">Date <span id="sort_datetrack"></span></a></th>
                    <th> Title </th>
                    <th> <a href="#" class="text-decoration-none" onclick="sortBy('duration')">Duration <span id="sort_duration"></span></a></th>
                    <th> <a href="#" class="text-decoration-none" onclick="sortBy('elevationup')">Ascent <span id="sort_elevationup"></span></a></th>
                    <th> <a href="#" class="text-decoration-none" onclick="sortBy('distance')">Distance <span id="sort_distance"></span></a></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>

            <button id="buttonMore" type="button" class="btn btn-primary pt-3" onclick="loadMoreEntries()">Load more (<span id="remaining">x</span> remaining)</button>
        </main>
    </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessageedit" role="alert">
                </div>
                <div class="alert alert-success" style="display: none;" id="successmessageedit" role="alert">
                </div>
                <form>
                    <div class="mb-3">
                        <label for="inputTitle" class="form-label">Track Title</label>
                        <input type="text" class="form-control" id="inputTitle"
                               maxlength="250">
                    </div>
                    <div class="mb-3">
                        <label for="inputType" class="form-label">Track Type</label>

                        <select class="form-select" id="inputType">
                            <option th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"
                                    th:value="${activityOpt}"
                                    th:text="${activityOpt.displayValue}"
                            ></option>
                        </select>
                    </div>
                    <h6 class="mt-3">Favorite</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="favoriteChecked"
                               onclick="setFavorite()">
                        <label class="form-check-label" for="favoriteChecked" id="favoriteCheckedLabel">Favorite</label>
                    </div>
                    <h6 class="mt-3">Privacy</h6>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" id="publicChecked"
                               onclick="setTrackShare()">
                        <label class="form-check-label" for="publicChecked" id="publicCheckedLabel">Public</label>
                    </div>
                    <h6 class="mt-3">Hide or Delete Track</h6>
                    <button type="button" class="btn btn-primary btn-sm" onclick="clickhide(false)">Hide Track
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="clickdelete(false)">Delete Track
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="saveEdit()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmhidden" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hide Track</h5>
            </div>
            <div class="modal-body">
                <p>Hiding a track will exclude it from the Dashboard and your totals.</p>
                <p>The only way to view hidden tracks later on is through the designated link on the dashboard.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" onclick="clickhide(true)">Hide Track</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmdelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Track</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Track?</p>
                <p>This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" onclick="clickdelete(true)">Delete Track</button>
            </div>
        </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/

    var numberActivityEntries = {};
    /*[# th:each="act : ${activityCounts}"]*/
    numberActivityEntries[ /*[[${act.activitytype}]]*/ ] =[ /*[[${act.count}]]*/];
    /*[/]*/

</script>

<script>
    const tablebody = document.getElementById("tbody");
    const totalEntries = [(${numberEntries})];
    const entriesPerFetch = 100;
    var shownEntries = 0;
    var lastPage = -1;
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;

    var entries = new Map();
    var numberEntries;


    var sortby = "datetrack";
    var descending = true;
    var filterBy = "none";

    settings();


    function init() { //clear everything and start downloading data
        while (tablebody.firstChild) {
            tablebody.removeChild(tablebody.firstChild);
        }
        entries = new Map();
        shownEntries = 0;
        lastPage = -1;
        document.getElementById("sort_datetrack").innerText = "";
        document.getElementById("sort_duration").innerText = "";
        document.getElementById("sort_distance").innerText = "";
        document.getElementById("sort_elevationup").innerText = "";
        document.getElementById("sort_"+sortby).innerText = descending ? "↓":"↑";
        document.getElementById("buttonMore").style.display = "block";

        if (filterBy === "none")
            numberEntries = totalEntries;
        else {
            numberEntries = numberActivityEntries[filterBy][0]
        }
        fetchData();
    }

    function finish() { //all data downloaded
        document.getElementById("buttonMore").style.display = "none";
    }

    function fetchData() {
        lastPage++;

        var url = "/activities_ajax?page="+lastPage+"&size="+entriesPerFetch+"&sortby="+sortby+"&descending="+descending;

        if (filterBy!=="none")
            url+="&filterby="+filterBy;

        fetch(url)
            .then(response => {100
                if (response.status === 200) {
                    return response.json();
                } else {
                    document.getElementById("errorbox").style.display = 'block';
                }
            })
            .then(data => listData(data));
    }

    function loadMoreEntries() {
        fetchData();
    }

    function sortBy(attribute) {
        if (sortby === attribute)
            descending = !descending;
        else {
            sortby = attribute;
            descending = true;
        }
        init();
    }

    var selectedtrackid = null;

    var menu = function(id) {
        document.getElementById("successmessageedit").style.display = "none";
        selectedtrackid = id;
        var entry = entries.get(id);
        bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();
        document.getElementById("inputTitle").value = (new DOMParser().parseFromString(entry.title, "text/html")).documentElement.textContent ;
        document.getElementById("inputType").value = entry.activitytype;
        document.getElementById("favoriteChecked").checked = entry.favorite;

        if (entry.favorite) {
            document.getElementById("favoriteChecked").checked = true;
            document.getElementById("favoriteCheckedLabel").innerText = "Favorite";
        } else {
            document.getElementById("favoriteChecked").checked = false;
            document.getElementById("favoriteCheckedLabel").innerText = "Not in your Favorites List";
        }

        if (entry.sharing === "PUBLIC") {
            document.getElementById("publicChecked").checked = true;
            document.getElementById("publicCheckedLabel").innerText = "Public, anyone with the link can view this track";
        } else {
            document.getElementById("publicChecked").checked = false;
            document.getElementById("publicCheckedLabel").innerText = "Private, only you can view this track";
        }
    }

    function listData(data) {
        for (var entry of data) {
            entries.set(entry.id, entry);
            var newRow = tablebody.insertRow();
            newRow.id="r"+entry.id;
            addRowInfo(newRow, entry);
            shownEntries++;
        }

        if (shownEntries >= numberEntries) {
            finish();
        } else {
            document.getElementById("remaining").innerText = (numberEntries-shownEntries);
        }
    }


    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        init();
    }

    function filter(value) {
        if (value ==="none")
            filterBy = "none";
        else
            filterBy = Object.keys(icons)[value];
        init();
    }

    const root = "../api/";

    function clickdelete(confirmed) {
        if (!confirmed) {
            bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmdelete')).show();
            bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
            return;
        }
        fetch(root + "modify/id=" + selectedtrackid, {
            method: "DELETE"
        }).then(res => {
            res.json().then(response => {
                if (res.ok) {
                    deleteRow(selectedtrackid);
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmdelete')).hide();
                } else {
                    //not good
                }
            });
        }).catch(error => {
            console.log("--error");
            console.log(error);
        });
    }

    function clickhide(confirmed) {
        if (!confirmed) {
            bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmhidden')).show();
            bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
            return;
        }
        fetch(root+"modify/id="+selectedtrackid+"&hidden=true", {
            method: "GET"
        }).then(res => {
            res.json().then(response => {
                if (res.ok) {
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmhidden')).hide();
                    deleteRow(selectedtrackid);
                } else {
                    //not good
                }
            });
        }).catch(error => {
            console.log("--error");
            console.log(error);
        });
    }

    function setFavorite() {
        document.getElementById("favoriteChecked")

        if (document.getElementById("favoriteChecked").checked) {
            document.getElementById("favoriteCheckedLabel").innerText = "Favorite";
        } else {
            document.getElementById("favoriteCheckedLabel").innerText = "Not in your Favorites List";
        }
    }

    function setTrackShare() {
        document.getElementById("publicChecked")

        if (!document.getElementById("publicChecked").checked) {
            document.getElementById("publicCheckedLabel").innerText = "Private, only you can view this track";
        } else {
            document.getElementById("publicCheckedLabel").innerText = "Public, anyone with the link can view this track";
        }
    }

    document.getElementById("inputTitle").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            event.stopPropagation()
            event.stopImmediatePropagation();
            saveEdit();
        }
    });

    function saveEdit() {
        let currentEntry = entries.get(selectedtrackid);
        let editTitle = document.getElementById("inputTitle").value;
        let editType = document.getElementById("inputType").value;
        let editFavorite = document.getElementById("favoriteChecked").checked;
        let editShared = (document.getElementById("publicChecked").checked ? "PUBLIC" : "PRIVATE");

        if (editTitle !== currentEntry.title || editType !== currentEntry.activitytype ) {
            let data = {index: selectedtrackid, title: editTitle, activitytype: editType};

            fetch(root+"modify", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {
                        document.getElementById("successmessageedit").innerText = "Changes saved";
                        document.getElementById("successmessageedit").style.display = "block";
                    } else {
                        document.getElementById("errormessageedit").innerText = response.response;
                        document.getElementById("errormessageedit").style.display = "block";
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        if (editFavorite !== currentEntry.favorite) {
            fetch(root+"modify/id="+selectedtrackid+"&favorite="+(editFavorite), {
                method: "GET"
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {

                    } else {
                        //not good
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        if (editShared !== currentEntry.sharing) {
            fetch(root+"modify/id="+selectedtrackid+"&sharing="+editShared, {
                method: "GET"
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {

                    } else {
                        //not good
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        entries.get(selectedtrackid).title = editTitle;
        entries.get(selectedtrackid).activitytype = editType;
        entries.get(selectedtrackid).favorite = editFavorite;
        entries.get(selectedtrackid).sharing = editShared;

        var row = document.getElementById("r"+selectedtrackid);
        row.innerHTML="";
        addRowInfo(row, entries.get(selectedtrackid));
        bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
    }

    function addRowInfo(row, entry) {
        row.insertCell().innerHTML = "<img src='../assets/"+icons[entry.activitytype][0]+"' alt='"+icons[entry.activitytype][1]+"' height=20px>";
        row.insertCell().innerHTML = (new Date(Date.parse(entry.datetrack))).toLocaleString();
        row.insertCell().innerHTML = (entry.favorite?"<img src='../assets/icon_favorite_select.svg' height='15px'>":"") + "<a href='/view/"+entry.id+"'>"+entry.title+"</a>";
        row.insertCell().innerHTML = minToString(parseInt(entry.duration))+ " h";
        row.insertCell().innerHTML = (entry.elevationup*(metric?1:feet_per_m)).toFixed(0) + (metric?" m":" ft");
        row.insertCell().innerHTML = (parseFloat(entry.distance)/1000*(metric?1:miles_per_km)).toFixed(1) + (metric?" km":" mi");
        row.insertCell().innerHTML = (entry.trackgroup?"<a href='/matching/"+entry.trackgroup+"'><img title='Matching Activities' src='/assets/matched.svg'></a>":"");
        row.insertCell().innerHTML = "<div onclick='menu("+entry.id+")' style='cursor:pointer' id='c"+entry.id+"'>...</div>"
    }
    async function deleteRow(rowid)
    {
        var row = document.getElementById("r"+rowid);
        row.style.transition = '0.8s';
        row.style.opacity = 0;
        await new Promise(resolve => setTimeout(resolve, 1000));
        row.parentNode.removeChild(row);
    }

</script>

</html>