<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script><link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img class="me-2" src="/assets/logo.svg" width="30">CubeTrek</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100"></div>
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img src="../assets/cubetrek_settings.svg" height="20px"></a>
    </ul>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div th:with="field='dashboard'" class="row">
        <nav th:fragment="navigation (field)" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard" th:classappend="${field=='dashboard' ? 'active' : ''}">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/activities" th:classappend="${field=='activitylist' ? 'active' : ''}">
                            Activity List
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Your Profile</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" th:classappend="${field=='upload' ? 'active' : ''}">
                            Upload Activities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" th:classappend="${field=='profile' ? 'active' : ''}">
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div th:if="${recentTracks.empty}" class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your Profile is empty 😔</h5>
                    <p class="card-text">Add your Tracks to get started. Upload your files, link your Garmin and Polar account to automatically sync future activities.</p>
                    <a href="/upload" class="btn btn-primary m-1">Upload Activity Files</a>
                    <a href="/profile" class="btn btn-primary m-1">Link Accounts</a>
                </div>
            </div>

            <div th:unless="${recentTracks.empty}" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <div class="h4">
                    <span>Personal Heatmap</span>
                    <div class="btn-group">
                        <a class="btn btn-light btn-sm" id="heatmaptype" data-bs-toggle="dropdown" aria-expanded="false">
                        Distance per Day
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="heatmapChange('distance')">Distance</a></li>
                        <li><a class="dropdown-item" onclick="heatmapChange('ascent')">Ascent</a></li>
                        <li><a class="dropdown-item" onclick="heatmapChange('number')">Number of Activities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 p-0 m-0" id="graph" style="width:100%">
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Recent Activities</h4>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th> Date </th>
                    <th> Title </th>
                    <th> Duration </th>
                    <th> Ascent</th>
                    <th> Distance</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${recentTracks.empty}">
                    <td colspan="2"><i>No Activities</i></td>
                </tr>
                <tr th:each="track : ${recentTracks}">
                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                             th:title="${track.activitytype.getDisplayValue()}"></td>
                    <td><span th:data-datetime="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                    <td><span th:data-duration="${track.getDuration()}" th:text="${track.getDuration()}"> Duration </span></td>
                    <td><span th:data-shortdist="${track.getElevationup()}" th:text="${track.getElevationup()}"> Ascent </span></td>
                    <td><span th:data-longdist="${track.getDistance()}" th:text="${track.getDistance()}"> Distance </span></td>
                    <td><span th:if="${track.getTrackgroup() != null}"> <a th:href="'/matching/'+${track.getTrackgroup()}"><img src="/assets/matched.svg" title="Matching Activities"></a></span></td>
                </tr>
                </tbody>
            </table>

            <a href="/activities" th:if="${totalActivities > 10}" type="button" class="btn btn-outline-primary" th:text="'View '+ ${totalActivities} + ' Activities'">View All Activities</a>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Totals
                    <div class="btn-group">
                        <a class="btn btn-light btn-sm" id="barGraphButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Activitytype
                        </a>
                        <ul class="dropdown-menu" id="barGraphDropdown">
                        </ul>
						<a class="btn btn-light btn-sm" id="barGraphButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Distance
                        </a>
                        <ul class="dropdown-menu" id="barGraphDropdown2">
							<li><a class="dropdown-item" onclick="updateBargraphType('distance')">Distance</a></li>
							<li><a class="dropdown-item" onclick="updateBargraphType('ascent')">Ascent</a></li>
                        </ul>
						<a class="btn btn-light btn-sm" id="barGraphButton3" onclick="updateBargraphTime()">
                            Monthly
                        </a>
                    </div>
                </h4>
            </div>

            <div class="flex-grow-1 p-0 m-0" id="bargraph" style="width:100%">
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Best Of</h4>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <h6 class="h6">Furthest Distances</h6>
                    <ul class="nav nav-tabs" id="TabFurthest" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="furthest-recent-tab" data-bs-toggle="tab" data-bs-target="#furthest-recent-pane" type="button" role="tab" aria-controls="furthest-recent-pane" aria-selected="true">Last 3 Month</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="furthest-alltime-tab" data-bs-toggle="tab" data-bs-target="#furthest-alltime-pane" type="button" role="tab" aria-controls="furthest-alltime-pane" aria-selected="false">All-Time</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="TabFurthestContent">
                        <div class="tab-pane fade" id="furthest-recent-pane" role="tabpanel" aria-labelledby="furthest-recent-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Distance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.recentDistance.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.recentDistance}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-longdist="${track.getDistance()}" th:text="${track.getDistance()}"> Distance </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade show active" id="furthest-alltime-pane" role="tabpanel" aria-labelledby="furthest-alltime-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Distance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.alltimeDistance.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.alltimeDistance}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-longdist="${track.getDistance()}" th:text="${track.getDistance()}"> Distance </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h6 class="h6">Furthest Climbs</h6>
                    <ul class="nav nav-tabs" id="TabAscent" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="ascent-recent-tab" data-bs-toggle="tab" data-bs-target="#ascent-recent-pane" type="button" role="tab" aria-controls="ascent-recent-pane" aria-selected="true">Last 3 Month</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="ascent-alltime-tab" data-bs-toggle="tab" data-bs-target="#ascent-alltime-pane" type="button" role="tab" aria-controls="ascent-alltime-pane" aria-selected="false">All-Time</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="TabAscentContent">
                        <div class="tab-pane fade" id="ascent-recent-pane" role="tabpanel" aria-labelledby="ascent-recent-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Ascent</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.recentAscent.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.recentAscent}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-shortdist="${track.getElevationup()}" th:text="${track.getElevationup()}"> Ascent </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade  show active" id="ascent-alltime-pane" role="tabpanel" aria-labelledby="ascent-alltime-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Ascent</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.alltimeAscent.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.alltimeAscent}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-shortdist="${track.getElevationup()}" th:text="${track.getElevationup()}"> Ascent </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h6 class="h6">Highest Peaks</h6>
                    <ul class="nav nav-tabs" id="TabPeaks" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="peaks-recent-tab" data-bs-toggle="tab" data-bs-target="#peaks-recent-pane" type="button" role="tab" aria-controls="peaks-recent-pane" aria-selected="true">Last 3 Month</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="peaks-alltime-tab" data-bs-toggle="tab" data-bs-target="#peaks-alltime-pane" type="button" role="tab" aria-controls="peaks-alltime-pane" aria-selected="false">All-Time</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="TabPeaksContent">
                        <div class="tab-pane fade" id="peaks-recent-pane" role="tabpanel" aria-labelledby="peaks-recent-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Highest Point ASL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.recentPeak.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.recentPeak}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-shortdist="${track.getHighestpoint()}" th:text="${track.getHighestpoint()}"> Highest Point </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade  show active" id="peaks-alltime-pane" role="tabpanel" aria-labelledby="peaks-alltime-tab" tabindex="0">
                            <table class="table">
                                <thead class="table-header">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Highest Point ASL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${topTracks.alltimePeak.empty}">
                                    <td colspan="2"><i>No Activities</i></td>
                                </tr>
                                <tr th:each="track : ${topTracks.alltimePeak}">
                                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                                             th:title="${track.activitytype.getDisplayValue()}"></td>
                                    <td><span th:data-date="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                                    <td><span th:data-shortdist="${track.getHighestpoint()}" th:text="${track.getHighestpoint()}"> Highest Point </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4"><img src='../assets/icon_favorite_select.svg' height='15px'> My Favorites <img src='../assets/icon_favorite_select.svg' height='15px'></h4>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th> Date </th>
                    <th> Title </th>
                    <th> Duration </th>
                    <th> Ascent</th>
                    <th> Distance</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${favoriteTracks.empty}">
                    <td colspan="2"><i>No favorite Activities, mark them by clicking the star ⭐</i></td>
                </tr>
                <tr th:each="track : ${favoriteTracks}">
                    <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                             th:title="${track.activitytype.getDisplayValue()}"></td>
                    <td><span th:data-datetime="${track.getDatetrack()}" th:text="${track.getDatetrack()}"> Date </span></td>
                    <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}"> Title </a></td>
                    <td><span th:data-duration="${track.getDuration()}" th:text="${track.getDuration()}"> Duration </span></td>
                    <td><span th:data-shortdist="${track.getElevationup()}" th:text="${track.getElevationup()}"> Ascent </span></td>
                    <td><span th:data-longdist="${track.getDistance()}" th:text="${track.getDistance()}"> Distance </span></td>
                    <td><span th:if="${track.getTrackgroup() != null}"> <a th:href="'/matching/'+${track.getTrackgroup()}"><img src="/assets/matched.svg" title="Matching Activities"></a></span></td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="heatmapModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="heatmapModalTitle">Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th> Date</th>
                        <th> Title </th>
                        <th> Duration</th>
                        <th> Ascent</th>
                        <th> Distance </th>
                    </tr>
                    </thead>
                    <tbody id="poptable">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>

<script src="../js/d3.min.js"></script>
<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/
</script>
<script>

    var dataHeatmap = [(${activityHeatmapJSON})];

    var datamonthly = [(${monthlyTotalJSON})];

    var datayearly = [(${yearlyTotalJSON})];

    var parseDate = d3.utcParse("%Y-%m-%dT%H:%M:%S%Z");
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;
    const datas = [];
    const bargraphdatasMonthly = [];
    const bargraphdatasYearly = [];


    function prepareHeatmapdata() {
        for (var i=0; i<dataHeatmap.length; i++) {
            let date = parseDate(dataHeatmap[i].trackdata_day);
            date.setHours(12,0,0,0);
            let day_dist = (dataHeatmap[i].day_dist/1000);
            let day_elevationup = dataHeatmap[i].day_elevationup;
            let number = dataHeatmap[i].number;
            datas.push({'date' : date, 'day_dist' : day_dist, 'day_elevationup' : day_elevationup, 'number' : number});
        }

        var minDate = new Date(d3.min(datas, d => d.date));
        minDate.setMonth(0);
        minDate.setDate(1);
        var today = new Date();

        while (minDate <= today) {
            const found = datas.some(d => d.date.getTime() === minDate.getTime());
            if (!found) {
                datas.push({'date' : new Date(minDate)});
            }
            minDate.setDate(minDate.getDate() + 1);
        }
    }

    let bargraphType = "distance";
    let bargraphActivity = 2;
	let bargraphYearly = false;

	let barchart = [];

    function prepareBargraphdata() {
        for (var i=0; i<datamonthly.length; i++) {
            let date = parseDate(datamonthly[i].trackdata_month);
            date.setHours(12,0,0,0);
            let monthly_dist = (datamonthly[i].monthly_dist/1000);
            let activitytype = datamonthly[i].activitytype;
            bargraphdatasMonthly.push({'date' : date, 'monthly_dist' : monthly_dist, 'monthly_elevationup' : datamonthly[i].monthly_elevationup, 'activitytype' : activitytype});
        }

        for (var i=0; i<datayearly.length; i++) {
            let date = parseDate(datayearly[i].trackdata_year);
            date.setHours(12,0,0,0);
            let yearly_dist = (datayearly[i].yearly_dist/1000);
            let activitytype = datayearly[i].activitytype;
            bargraphdatasYearly.push({'date' : date, 'yearly_dist' : yearly_dist, 'yearly_elevationup' : datayearly[i].yearly_elevationup, 'activitytype' : activitytype});
        }

        const uniqueActivities = [...new Set(bargraphdatasMonthly.map(item => item.activitytype))];
        document.getElementById("barGraphButton").innerText = icons[Object.keys(icons)[uniqueActivities[0]]][1];
        bargraphActivity = uniqueActivities[0];
        for (let act of uniqueActivities) {
            var node = document.createElement("li");
            node.innerHTML = "<a class='dropdown-item' onclick='updateBargraphActivity("+act+")'>"+icons[Object.keys(icons)[act]][1]+"</a>";
            document.getElementById("barGraphDropdown").appendChild(node);
        }

        this.width = document.getElementById('bargraph').clientWidth*0.8;
        this.width = Math.max(500, this.width);
        d3.select("#bargraph").select("svg").remove(); //clear if exists already
        this.svg = d3.select("#bargraph").append("svg");
        barchart = BarChart(this.svg, bargraphdatasMonthly, bargraphdatasYearly, bargraphActivity);
    }

    function updateBargraphActivity(activity) {
		document.getElementById("barGraphButton").innerText = icons[Object.keys(icons)[activity]][1];
        bargraphActivity = activity;
        updateBargraph();
    }

    function updateBargraphType(type) {
		switch (type) {
			case "distance":
				document.getElementById("barGraphButton2").innerText = "Distance";
				break;
			case "ascent":
				document.getElementById("barGraphButton2").innerText = "Ascent";
				break;
		}
        bargraphType = type;
        updateBargraph();
    }

	function updateBargraphTime() {
		bargraphYearly = !bargraphYearly;
		document.getElementById("barGraphButton3").innerText = (bargraphYearly ? "Yearly" : "Monthly");
        updateBargraph();
    }

    function updateBargraph() {
		barchart.update(bargraphActivity, bargraphType, bargraphYearly);
    }

    let heatmapType = "distance";

    function drawHeatmap() {
        this.width = document.getElementById('graph').clientWidth*0.8;

        this.width = Math.max(500, this.width);

        d3.select("#graph").select("svg").remove(); //clear if exists already
        this.svg = d3.select("#graph").append("svg");

        Calendar(this.svg, datas, {
            x: d => d.date,
            y: d => {
                switch (heatmapType) {
                    case 'distance':
                        return d.day_dist;
                    case 'ascent':
                        return d.day_elevationup;
                    case 'number':
                        return d.number;
                }
            },
            width: this.width,
            cellSize: (this.width/60),
            weekday: "monday",
            colors: (function(){
                switch (heatmapType) {
                    case 'distance':
                        return d3.interpolateYlOrRd;
                    case 'ascent':
                        return d3.interpolateYlGn;
                    case 'number':
                        return d3.interpolateRdPu;
                }}()),
            formatingFunction: (function(){
                switch (heatmapType) {
                    case 'distance':
                        return formatLongdist;
                    case 'ascent':
                        return formatShortdist;
                    case 'number':
                        return formatNumberActivities;
                }}())
        });
    }

    function heatmapChange(type) {
        switch (type) {
            case 'distance':
                heatmapType = "distance";
                document.getElementById("heatmaptype").innerText = "Distance per Day";
                break;
            case 'ascent':
                heatmapType = "ascent";
                document.getElementById("heatmaptype").innerText = "Vertical Ascent per Day";
                break;
            case 'number':
                heatmapType = "number";
                document.getElementById("heatmaptype").innerText = "Number of Activities per Day";
                break;
        }
        drawHeatmap();
    }

    prepareHeatmapdata();
    prepareBargraphdata();
    settings();

    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("background", "rgba(245, 245, 255, 0.6)");

    // Copyright 2021 Observable, Inc.
    // Released under the ISC license.
    // https://observablehq.com/@d3/calendar-view
    function Calendar(svg, data, {
        x = ([x]) => x, // given d in data, returns the (temporal) x-value
        y = ([, y]) => y, // given d in data, returns the (quantitative) y-value
        width = 1100, // width of the chart, in pixels
        cellSize = 20, // width and height of an individual day, in pixels
        weekday = "monday", // either: weekday, sunday, or monday
        formatDay = i => "SMTWTFS"[i], // given a day number in [0, 6], the day-of-week label
        formatMonth = "%b", // format specifier string for months (above the chart)
        formatingFunction = formatShortdist,
        colors = d3.interpolateYlOrRd
    } = {}) {
        // Compute values.
        const X = d3.map(data, x);
        const Y = d3.map(data, y);
        const I = d3.range(X.length);

        const countDay = weekday === "sunday" ? i => i : i => (i + 6) % 7;
        const timeWeek = weekday === "sunday" ? d3.utcSunday : d3.utcMonday;
        const weekDays = weekday === "weekday" ? 5 : 7;
        const height = cellSize * (weekDays + 2);

        // Compute a color scale. This assumes a diverging color scheme where the pivot
        // is zero, and we want symmetric difference around zero.
        const max = d3.quantile(Y, 0.9975, Math.abs);
        const color = d3.scaleSequential([0, max], colors).unknown("#eee");

        // Construct formats.
        formatMonth = d3.utcFormat(formatMonth);

        // Group the index by year, in reverse input order. (Assuming that the input is
        // chronological, this will show years in reverse chronological order.)
        const years = d3.groups(I, i => X[i].getUTCFullYear()).reverse();

        function pathMonth(t) {
            const d = Math.max(0, Math.min(weekDays, countDay(t.getUTCDay())));
            const w = timeWeek.count(d3.utcYear(t), t);
            return `${d === 0 ? `M${w * cellSize},0`
                : d === weekDays ? `M${(w + 1) * cellSize},0`
                    : `M${(w + 1) * cellSize},0V${d * cellSize}H${w * cellSize}`}V${weekDays * cellSize}`;
        }

        svg
            .attr("width", width)
            .attr("height", height * years.length)
            .attr("viewBox", [0, 0, width, height * years.length])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;")
            .attr("font-family", "var(--bs-body-font-family)")
            .attr("font-size", "0.7rem");

        const year = svg.selectAll("g")
            .data(years)
            .join("g")
            .attr("transform", (d, i) => `translate(40.5,${height * i + cellSize * 1.5})`);

        year.append("text")
            .attr("x", -5)
            .attr("y", -5)
            .attr("font-weight", "bold")
            .attr("text-anchor", "end")
            .text(([key]) => key);

        year.append("g")
            .attr("text-anchor", "end")
            .selectAll("text")
            .data(weekday === "weekday" ? d3.range(1, 6) : d3.range(7))
            .join("text")
            .attr("x", -5)
            .attr("y", i => (countDay(i) + 0.5) * cellSize)
            .attr("dy", "0.31em")
            .text(formatDay);

        const formatDate = d3.utcFormat("%B %-d, %Y");
        const formatValue = color.tickFormat(100, "1f");

        const cell = year.append("g")
            .selectAll("rect")
            .data(weekday === "weekday"
                ? ([, I]) => I.filter(i => ![0, 6].includes(X[i].getUTCDay()))
                : ([, I]) => I)
            .join("rect")
            .attr("width", cellSize - 1)
            .attr("height", cellSize - 1)
            .attr("x", i => timeWeek.count(d3.utcYear(X[i]), X[i]) * cellSize + 0.5)
            .attr("y", i => countDay(X[i].getUTCDay()) * cellSize + 0.5)
            .attr("fill", i => color(Y[i]))
            .on("mouseover", function(e, i) {
				let thisRect = d3.select(this);
                tooltip.style("visibility", "visible");
                tooltip.style("top", (e.pageY-10)+"px").style("left",(e.pageX+10)+"px");
                tooltip.html(formatDate(X[i])+"<br>"+(Y[i] === undefined?"<i>No Activity</i>":formatingFunction(Y[i])));
            })
            .on("mouseout", function(e, i) {
                tooltip.style("visibility", "hidden");
            })
            .on("click", function(e, i) {
                if (Y[i] !== undefined) {
                    clickDay(dataHeatmap[i].trackdata_day);
                }
            });

        const month = year.append("g")
            .selectAll("g")
            .data(([, I]) => d3.utcMonths(d3.utcMonth(X[I[0]]), X[I[I.length - 1]]))
            .join("g");

        month.filter((d, i) => i).append("path")
            .attr("fill", "none")
            .attr("stroke", "#fff")
            .attr("stroke-width", 3)
            .attr("d", pathMonth);

        month.append("text")
            .attr("x", d => timeWeek.count(d3.utcYear(d), timeWeek.ceil(d)) * cellSize + 2)
            .attr("y", -5)
            .text(formatMonth);

        return Object.assign(svg.node(), {scales: {color}});
    }

    const tablebody = document.getElementById("poptable");

    function clickDay(date) {
        var dt = new Date(Date.parse(date));
        let year = dt.getUTCFullYear();
        let month = dt.getMonth();
        let day = dt.getDate();

        var url = "/activities_per_day?year="+year+"&month="+month+"&day="+day+"&timezone="+Intl.DateTimeFormat().resolvedOptions().timeZone;;

        fetch(url)
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    console.log("ERROR");
                    //ignore error
                }
            })
            .then(data => {
                while (tablebody.firstChild) { //remove everything first
                    tablebody.removeChild(tablebody.firstChild);
                }
                document.getElementById('heatmapModalTitle').innerText=
                    (new Date(Date.parse(data[0].datetrack))).toLocaleString([], {year: 'numeric', month: 'long', day: 'numeric',  weekday: "long"});
                for (var entry of data) {
                    var row = tablebody.insertRow();
                    row.insertCell().innerHTML = "<img src='../assets/"+icons[entry.activitytype][0]+"' alt='"+icons[entry.activitytype][1]+"' height=20px>";
                    row.insertCell().innerHTML = (new Date(Date.parse(entry.datetrack))).toLocaleString([], {hour: '2-digit', minute: '2-digit'});
                    row.insertCell().innerHTML = (entry.favorite?"<img src='../assets/icon_favorite_select.svg' height='15px'>":"") + "<a href='/view/"+entry.id+"'>"+entry.title+"</a>";
                    row.insertCell().innerHTML = minToString(parseInt(entry.duration))+ " h";
                    row.insertCell().innerHTML = (entry.elevationup*(metric?1:feet_per_m)).toFixed(0) + (metric?" m":" ft");
                    row.insertCell().innerHTML = (parseFloat(entry.distance)/1000*(metric?1:miles_per_km)).toFixed(1) + (metric?" km":" mi");
                }
                bootstrap.Modal.getOrCreateInstance(document.getElementById('heatmapModal')).show();
            });
    }

    function BarChart(svg, data_monthly, data_yearly, activitytype, {
        width = 1000,
        height = 300,
        marginTop = 30, // top margin, in pixels
        marginRight = 0, // right margin, in pixels
        marginBottom = 30, // bottom margin, in pixels
        marginLeft = 60, // left margin, in pixels
        xRange = [marginLeft, width - marginRight], // [xmin, xmax]
        yRange = [height - marginBottom, marginTop], // [ymin, ymax]
        yFormat, // a format specifier string for the y-axis
        duration: initialDuration = 250, // transition duration, in milliseconds
        delay: initialDelay = (_, i) => i * 20 // per-element transition delay, in milliseconds
    } = {}) {
        // Compute values.
        let X_monthly = d3.map(data_monthly.filter(d => d.activitytype === activitytype), d => d.date);
        let X_yearly = d3.map(data_yearly.filter(d => d.activitytype === activitytype), d => d.date);
        let Y = d3.map(data_monthly.filter(d => d.activitytype === activitytype), d => d.monthly_dist*(metric?1:miles_per_km));

        //xDomain
        let xDomain_monthly = new d3.InternSet(d3.map(data_monthly, d => d.date));
        const minDate = new Date(d3.min(xDomain_monthly));
		minDate.setMonth(0);
        const today = new Date();
		today.setMonth(11);
        xDomain_monthly = [];
        while (minDate <= today) {
            xDomain_monthly.push(new Date(minDate));
            minDate.setMonth(minDate.getMonth() + 1);
        }
		xDomain_monthly = [...new Set(xDomain_monthly)];

        let xDomain_yearly = new d3.InternSet(d3.map(data_yearly, d => d.date));
        const minDate_year = new Date(d3.min(xDomain_yearly));
        xDomain_yearly = [];
        while (minDate_year <= today) {
            xDomain_yearly.push(new Date(minDate_year));
            minDate_year.setFullYear(minDate_year.getFullYear() + 1);
        }
        xDomain_yearly = [...new Set(xDomain_yearly)];

		let yearDomain_monthly = new d3.InternSet(d3.map(xDomain_monthly, d => d.getFullYear()));
		let monthDomain_monthly = new d3.InternSet(d3.map(xDomain_monthly, d => d.getMonth()));

		const xScaleYear_monthly = d3.scaleBand().domain(yearDomain_monthly).range(xRange).paddingOuter(0).paddingInner(0.05);
		const xScaleMonth_monthly = d3.scaleBand().domain(monthDomain_monthly).range([0, xScaleYear_monthly.bandwidth()]).padding(0.05);

        let yearDomain_yearly = new d3.InternSet(d3.map(xDomain_yearly, d => d.getFullYear()));
        const xScaleYear_yearly = d3.scaleBand().domain(yearDomain_yearly).range(xRange).paddingOuter(0).paddingInner(0.05);


        //yDomain
        let yDomain = [0, d3.max(Y)];

        // Construct scales, axes, and formats.
        let yScale = d3.scaleLinear(yDomain, yRange);
        let yAxis = d3.axisLeft(yScale).ticks(height / 40, yFormat);

        svg
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", [0, 0, width, height])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;")
            .on("click", function(e, i) {
                updateBargraphTime();
            });

        const yGroup = svg.append("g")
            .attr("transform", `translate(${marginLeft},0)`)
            .call(yAxis)
            .call(g => g.select(".domain").remove())
            .call(g => g.selectAll(".tick").call(grid))
            .call(g => g.append("text")
				.attr("id", "bargraphhead")
                .attr("x", -marginLeft)
                .attr("y", 10)
                .attr("fill", "black")
                .attr("text-anchor", "start")
                .text("↑ Distance ["+(metric?"km":"mi")+"]"));

		let xcolorsMonthly = d3.scaleOrdinal(xDomain_monthly, colors = d3.quantize(d3.interpolateHcl("#fafa6e", "#2A4858"), 12));
		let xcolorsYearly = d3.scaleOrdinal(xDomain_yearly, colors = d3.quantize(d3.interpolateHcl("#fafa6e", "#2A4858"), 12));

		var formatDate = d3.timeFormat("%B %Y");

        const rect_monthly = svg.append("g")
            .selectAll("rect")
            .data(xDomain_monthly)
            .join("rect")
			.each(function(d, i) {
				position_monthly(d3.select(this), d, "distance");
			}).attr("fill", i => xcolorsMonthly(i))
			.style("mix-blend-mode", "multiply");

        const rect_yearly = svg.append("g")
            .selectAll("rect")
            .data(xDomain_yearly)
            .join("rect")
            .each(function(d, i) {
                position_yearly(d3.select(this), d, "distance");
            }).attr("fill", i => xcolorsYearly(i))
            .style("mix-blend-mode", "multiply")
            .style("visibility", "hidden");

		const monthAxis = svg.append("g");

		for (let year of yearDomain_monthly) {
			const xAxis = d3.axisBottom(xScaleMonth_monthly).tickSize(0)
				.tickFormat(d => d3.timeFormat("%b")((new Date()).setMonth(d)));
			monthAxis.append("g")
				.attr("transform", `translate(${xScaleYear_monthly(year)},${13+height - marginBottom})`)
				.call(xAxis).call(g => g.select(".domain").remove());
		}

		const xAxis_year_monthly = d3.axisBottom(xScaleYear_monthly).tickSize(0);
        const xAxis_year_yearly = d3.axisBottom(xScaleYear_yearly).tickSize(0);
		const yearaxis = svg.append("g")
				.attr("transform", `translate(0,${height - marginBottom})`)
				.call(xAxis_year_monthly);

        // A helper method for updating the position of bars.
        function position_monthly(rect, xdomaindate, measuretype) {
			let index = X_monthly.findIndex(element => element.getTime() === xdomaindate.getTime());
			let y = 0;
			if (index !== -1) {
				y = yScale(Y[index]);
			} else {
				y = yScale(0);
			}
			return rect
				.attr("width", xScaleMonth_monthly.bandwidth())
				.on("mouseover", function(e, i) {
					if (index < 0)
						return;

					tooltip.style("visibility", "visible");
					tooltip.style("top", (e.pageY-10)+"px").style("left",(e.pageX+10)+"px");

					switch (measuretype) {
					case 'distance':
						tooltip.html(Y[index].toFixed(1) + (metric?" km":" mi")+"<br>"+formatDate(X_monthly[index]));
						break;
					case 'ascent':
						tooltip.html(Y[index].toFixed(0) + (metric?" m":" ft")+"<br>"+formatDate(X_monthly[index]));
						break;
					}
				})
				.on("mouseout", function(e, i) {
					tooltip.style("visibility", "hidden");
				})
				.attr("x", xScaleYear_monthly(xdomaindate.getFullYear())+xScaleMonth_monthly(xdomaindate.getMonth()))
                .attr("width", xScaleMonth_monthly.bandwidth())
                .transition()
                .attr("y", y)
				.attr("height", yScale(0) - y);
        }

        function position_yearly(rect, xdomaindate, measuretype) {
            let index = X_yearly.findIndex(element => element.getTime() === xdomaindate.getTime());
            let y = 0;
            if (index !== -1) {
                y = yScale(Y[index]);
            } else {
                y = yScale(0);
            }
            return rect
                .attr("width", xScaleYear_yearly.bandwidth())
                .on("mouseover", function(e, i) {
                    if (index < 0)
                        return;

                    tooltip.style("visibility", "visible");
                    tooltip.style("top", (e.pageY-10)+"px").style("left",(e.pageX+10)+"px");

                    switch (measuretype) {
                        case 'distance':
                            tooltip.html(Y[index].toFixed(1) + (metric?" km":" mi")+"<br>"+X_yearly[index].getFullYear());
                            break;
                        case 'ascent':
                            tooltip.html(Y[index].toFixed(0) + (metric?" m":" ft")+"<br>"+X_yearly[index].getFullYear());
                            break;
                    }
                })
                .on("mouseout", function(e, i) {
                    tooltip.style("visibility", "hidden");
                })
                .attr("x", xScaleYear_yearly(xdomaindate.getFullYear()))
                .attr("width", xScaleYear_yearly.bandwidth())
                .transition()
                .attr("y", y)
                .attr("height", yScale(0) - y);
        }

        // A helper method for generating grid lines on the y-axis.
        function grid(tick) {
			tick.selectAll("line").remove();
            return tick.append("line")
                .attr("class", "grid")
                .attr("x2", width - marginLeft - marginRight)
                .attr("stroke", "black")
                .attr("stroke-opacity", 0.1);
        }

        // Call chart.update(activitytype, measuretype, yearlySum) to transition to new data.
        return Object.assign(svg.node(), {
            update(activitytype, measuretype, yearlySum) {

                if (yearlySum) {
                    X_yearly = d3.map(data_yearly.filter(d => d.activitytype === activitytype), d => d.date);
                    switch (measuretype) {
                        case 'distance':
                            Y = d3.map(data_yearly.filter(d => d.activitytype === activitytype), d => d.yearly_dist*(metric?1:miles_per_km));
                            document.getElementById("bargraphhead").innerHTML = "↑ Distance ["+(metric?"km":"mi")+"]";
                            break;
                        case 'ascent':
                            Y = d3.map(data_yearly.filter(d => d.activitytype === activitytype), d => d.yearly_elevationup*(metric?1:feet_per_m));
                            document.getElementById("bargraphhead").innerHTML = "↑ Vertical Ascent ["+(metric?"m":"ft")+"]";
                            break;
                    }
                    yearaxis.transition().call(xAxis_year_yearly);
                    monthAxis.style("visibility", "hidden");
                } else {
                    X_monthly = d3.map(data_monthly.filter(d => d.activitytype === activitytype), d => d.date);
                    switch (measuretype) {
                        case 'distance':
                            Y = d3.map(data_monthly.filter(d => d.activitytype === activitytype), d => d.monthly_dist*(metric?1:miles_per_km));
                            document.getElementById("bargraphhead").innerHTML = "↑ Distance ["+(metric?"km":"mi")+"]";
                            break;
                        case 'ascent':
                            Y = d3.map(data_monthly.filter(d => d.activitytype === activitytype), d => d.monthly_elevationup*(metric?1:feet_per_m));
                            document.getElementById("bargraphhead").innerHTML = "↑ Vertical Ascent ["+(metric?"m":"ft")+"]";
                            break;
                    }
                    yearaxis.transition().call(xAxis_year_monthly);
                    monthAxis.style("visibility", "visible");
                }

                yDomain = [0, d3.max(Y)];
                yScale = d3.scaleLinear(yDomain, yRange);
                yAxis = d3.axisLeft(yScale).ticks(height / 40, yFormat);

                yGroup.transition().call(yAxis);
                yGroup.call(g => g.selectAll(".tick").call(grid));

                if (yearlySum) {
                    rect_yearly
                        .style("visibility", "visible")
                        //.transition().duration(500).style("opacity", 1)
                        .each(function(d, i) {
                        position_yearly(d3.select(this), d, measuretype);
                        d3.select(this).attr("fill", i => {return xcolorsYearly(i)});
                        });

                    rect_monthly.style("visibility","hidden");
                } else {
                    rect_monthly.style("visibility", "visible")
                        //.transition().duration(500).style("opacity", 1)
                        .each(function(d, i) {
                        position_monthly(d3.select(this), d, measuretype);
                        d3.select(this).attr("fill", i => {return xcolorsMonthly(i)});
                        });

                    rect_yearly.style("visibility","hidden");
                }
            }
        });
    }

    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        drawHeatmap();
        updateBargraph('distance', 'Running');
        formatValues();
    }

    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    function formatShortdist(value) {
        return (value *(metric?1:feet_per_m)).toFixed(0)+" "+(metric?"m":"ft");
    }

    function formatNumberActivities(value) {
        return value+" " + (value>1?"Activities":"Activity");
    }


    function formatLongdist(value) {
        return (value *(metric?1:miles_per_km)).toFixed(1)+" "+(metric?"km":"mi");
    }

    function formatValues() {
        document.querySelectorAll('[data-duration]').forEach(function(element) {
            element.innerText = minToString(element.dataset.duration)+" h";
        });

        document.querySelectorAll('[data-datetime]').forEach(function(element) {
            element.innerText = (new Date(Date.parse(element.dataset.datetime))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
        });

        document.querySelectorAll('[data-date]').forEach(function(element) {
            element.innerText = (new Date(Date.parse(element.dataset.date))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric'});
        });

        document.querySelectorAll('[data-shortdist]').forEach(function(element) {
            element.innerText = formatShortdist(element.dataset.shortdist);
        });

        document.querySelectorAll('[data-longdist]').forEach(function(element) {
            element.innerText = formatLongdist(element.dataset.longdist/1000);
        });
    }

    window.addEventListener("resize", function () {
        drawHeatmap();
        updateBargraph('distance', 'Running');
    });


</script>

</html>