<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek</title>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css " rel="stylesheet">
    <style>

      .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
      }

      .featurette-divider {
        margin: 5rem 0; /* Space out the Bootstrap <hr> more */
      }

      .featurette-heading {
        letter-spacing: -.05rem;
      }


      @media (min-width: 40em) {
        .featurette-heading {
          font-size: 50px;
        }
      }

      @media (min-width: 62em) {
        .featurette-heading {
          margin-top: 7rem;
        }
      }


      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        padding: 5px;
        background-color: #dfe7ff;
      }

      .dragging {
        background-color: #b5c9ff;
      }

      #drop_zone * {pointer-events: none;}

       .bd-placeholder-img {
         font-size: 1.125rem;
         text-anchor: middle;
         -webkit-user-select: none;
         -moz-user-select: none;
         user-select: none;
       }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-light">CubeTrek is a Web App to visualize and manage GPS Tracks. Realistically depict the topography in 3D, get in-depth statistics about your adventures, share your activities with your friends. It's intended for
          Outdoor activities in mountainous and hilly Terrain, such as Skiing, Mountaineering, Mountainbiking and Trailrunning.</p>
          <p class="text-light">If you encounter any problems, errors and bugs, shoot me an <a href="mailto:contact@cubetrek.com">email</a>.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="mailto:contact@cubetrek.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="navbar-brand d-flex align-items-center">
        <img class="me-2" width="30" src="/assets/logo.svg">CubeTrek
      </div>

      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/dashboard">Sign In</a>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">

    <img class="me-2" width="100" src="/assets/logo.svg">
    <h1 class="">CubeTrek</h1>
    <h2 class="fw-light">World's Best Open Source GPS Track Manager</h2>

    <p>
      <a href="#examples" class="btn btn-secondary my-2">See Examples</a>
      <a href="/registration" class="btn btn-primary my-2">Sign up for your Account</a>
      <a href="#opensource" class="btn btn-secondary my-2">Get the Code</a>
    </p>

    <div class="container marketing mt-5">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Your GPS Tracks in 3D.</h2>
        <p class="lead">Topography is what makes Skiing, Hiking, Trail running and Mountain biking so exciting.
          You conquer those vertical distances with a lot of sweat and effort, but your tracking software only shows a boring 2D map.<br>
          <strong>That's where CubeTrek comes in.</strong>
        </p>
      </div>
      <div class="col-md-5">
        <video autoplay muted loop playsinline class="featurette-image img-fluid mx-auto" width="600" height="600">
          <source src="../assets/pics/rotating5.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5  order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">All Tracks in One Place.</h2>
        <p class="lead">Visualize your adventures with <strong>TrekMapper</strong>, revealing your most frequented spots
          across the globe. Zoom in to unveil each track and click to uncover the details behind every activity.
        </p>
      </div>
      <div class="col-md-7">
        <video autoplay muted loop playsinline class="featurette-image img-fluid mx-auto" width="600" height="600">
          <source src="../assets/pics/trekmapper2.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Replay mode.</span></h2>
        <p class="lead">Relive and share your activity in an interactive 3D mode using Google Earth data.<br>
          Replay your hike/run/bike/mountainneering adventure, zoom into the terrain, scroll around.</p>
        <p><small>Access to replay mode is limited and depends on available quotas.</small></p>
      </div>
      <div class="col-md-5 order-md-1">
        <video autoplay muted loop playsinline class="featurette-image img-fluid mx-auto" width="700" height="500">
          <source src="../assets/pics/replay.mp4" type="video/mp4">
        </video>
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Measure &amp; Compare.</span></h2>
        <p class="lead">Compare daily, monthly and yearly performance metrics on your interactive dashboard.<br>
          Sort by different activity types, calculate and compare total distances and vertical ascents.</p>
      </div>
      <div class="col-md-7">
        <video autoplay muted loop playsinline class="featurette-image img-fluid mx-auto" width="700" height="500">
          <source src="/assets/index_bargraph.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Your Personal Calendar.</h2>
        <p class="lead">Track your progress on <strong>CubeTrek</strong>'s Calendar Heatmap.
          Reach your goals, record activity streaks.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" width="700" height="500" src="/assets/index_heatmap.png"></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Activity Matching.</h2>
        <p class="lead"> Benchmark yourself against past performances on your favorite routes.
          If you complete the same track several times, <strong>CubeTrek</strong> automatically
          groups all efforts together and calculates a pace graph.</p>
      </div>
      <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto" width="700" height="500" src="/assets/index_matchingactivities.png"></img>

      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1">And much more.</h2>
        <p class="lead"><ul>
        <li><strong>Best-Of Stats</strong>: View your longest distances, the highest peaks and furthest climbs.</li>
        <li><strong>Sort and Filter</strong> your activities by type, date, duration, distance, ascent etc. - Never lose track of your past efforts.</li>
        <li>Import FIT-, GPX-files and Zip-archives with one click.</li>
        <li>Link Third Party accounts: sync with Garmin Connect, Polar Flow and Coros (more to come...)</li>
      </ul></p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" width="400" height="400" src="/assets/index_more.jpg"></img>
      </div>
    </div>

    <hr class="featurette-divider">
    </div>

    <a href="/registration" class="btn btn-primary btn-lg">Sign up for your Account</a>

  </section>

  <div id="examples" class="album py-5 bg-light">
    <div class="container">
      <h2 class="fw-light text-center">Examples</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/cima.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/6338">Cima di Fiorina</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Hike</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/mat.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/4967">Mattjisch Horn</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Ski Mountaineering</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/stmo.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/6638">St. Moritz Run</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Run</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <h3 class="fw-light text-center mt-3">Recent public Uploads</h3>
      <div class="d-flex justify-content-center">
        <table>
          <tbody>
          <tr th:each="track : ${publicTracks}">
            <td><img height="30px" th:src="${'../assets/'+track.activitytype.getIconName()}"
                     th:title="${track.activitytype.getDisplayValue()}"></td>
            <td><a th:href="'/view/'+${track.getId()}" th:text="${track.getTitle()}">Title</a> by [[${track.getName()}]]</td>
          </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="upload" class="py-5">
    <div class="container">
      <h2 class="fw-light text-center">Give it a Try</h2>
      <div class="row">
        <div id="drop_zone" class="col-4 offset-4 align-middle drop-area">
          <input type="file" id="uploadfile" style="display:none;">
          <p><u>Click here</u> or drag your GPS Track into this Box.<br>
            Accepted file types: GPX and FIT.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table" id="table" style="display: none;">
            <thead><tr>
              <th>File name</th>
              <th>Track Name</th>
              <th>Type</th>
              <th>Date</th>
              <th>Distance</th>
              <th>Elevation Gain</th>
              <th>Time</th>
              <th> </th>
            </tr></thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-5">
          <span class="badge bg-warning text-dark">Please note</span>
          <li>All uploaded Tracks will be publicly visible</li>
          <li>Only GPX and FIT files are supported</li>
          <li>Let me know <a href="mailto:contact@cubetrek.com">via email</a> if something is not working</li></strong>
        </div>
        <div class="col-md-2"></div>
      <div class="col-md-5">
        <span class="badge bg-warning text-dark">Sign up</span>
        <li>Keep track of all your tracks</li>
        <li>Get aggregated statistics and interactive graphs of all your adventures</li>
        <li>Click <a href="/registration">here to register your account</a></li>
      </div>
      </div>
    </div>
  </div>

  <div id="news" class="py-5 bg-light">
    <div class="container">
      <h2 class="fw-light text-center">Get News</h2>

      <div class="row pt-3">
        <div class="col-md-4" id="newsletter">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailinput" placeholder="name@example.com">
            <label for="emailinput">Email address</label>
          </div>
          <button type="submit" class="btn btn-primary mb-3" onclick="newsletter(document.getElementById('emailinput').value)" id="submitemail">Submit</button> <span id="newslettermessage">Your address will not be shared.</span>
        </div>
        <div class="col-md-7 offset-md-1 lead">
          <p><b>CubeTrek</b>'s still in an experimental stage.
          <p>To receive updates, sign up for the mailing list. Or get in touch via <a href="mailto:contact@cubetrek.com">Email</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="opensource" class="py-5">
    <div class="container">
      <h2 class="fw-light text-center">Get The Code</h2>
      CubeTrek is open source (under GPL v2). Get the code from the <a href="https://github.com/r-follador/CubeTrek/">CubeTrek Github Repo</a>.<br>
      For 3D and JavaScript wizards, there's a <a href="https://github.com/r-follador/CubeTrek_Babylon">Babylon.js Sandbox</a> to get quickly started.
    </div>
  </div>
  <div id="support" class="py-5 bg-light">
    <div class="container">
      <h2 class="fw-light text-center">Support CubeTrek</h2>
      Find out how you can support CubeTrek <a href="/static/support.html">here</a>.<br>
      Become a Subscriber and help with paying the server bills. A cost of a coffee every half year will help in developing the website and keeping the lights on.<br>
      Contribute to the code and tell your friends about CubeTrek.
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; CubeTrek 2022-2024</p>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<script>
  const inputElement = document.getElementById("uploadfile");
  const dropbox = document.getElementById("drop_zone");
  const table = document.getElementById("table");

  inputElement.addEventListener("change", changeFiles, false);
  dropbox.addEventListener("dragenter", dragenter, false);
  dropbox.addEventListener("dragleave", dragleave, false);
  dropbox.addEventListener("dragover", dragover, false);
  dropbox.addEventListener("drop", drop, false);
  dropbox.addEventListener("click", clickdropbox, false);

  function changeFiles() {
    handleFiles(this.files)
  }
  function handleFiles(fileList) {
    for (let i = 0, numFiles = fileList.length; i < numFiles; i++) {
      const file = fileList[i];
      sendFile(file);
      return;
    }
  }

  var tableStore = {key1: "empty"};
  var concurrentuploads = 0;

  function sendFile(file) {
    table.style.display = 'block';
    const uri = "/upload_anonymous";
    const xhr = new XMLHttpRequest();
    const fd = new FormData();

    tableStore[file.name+file.lastModified] = table.insertRow(-1);
    tableStore[file.name+file.lastModified].insertCell(0).appendChild(document.createTextNode(file.name));
    tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width: 0%\" id='progress"+file.name+file.lastModified+"'></div></div>";
    tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "<div class=\"spinner-border spinner-border-sm text-info\" role=\"status\" />";

    xhr.open("POST", uri, true);
    xhr.upload.onprogress = function(evt)
    {
      var percentComplete = evt.loaded / file.size * 100;
      document.getElementById("progress"+file.name+file.lastModified).setAttribute("style","width: "+percentComplete+"%");
    };
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        var responsejson = JSON.parse(xhr.responseText);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.title+"</a>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.activitytype+"</a>";
        tableStore[file.name+file.lastModified].insertCell(3).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.date+"</a>";
        tableStore[file.name+file.lastModified].insertCell(4).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+(parseFloat(responsejson.trackSummary.distance)/1000).toFixed(1) + " km"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(5).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.trackSummary.elevationUp + " m"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(6).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+minToString(parseInt(responsejson.trackSummary.duration))+ " h"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(7).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank'>View</a>";
      }
      else if (xhr.readyState === 4 && xhr.status === 400) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        var responsejson = JSON.parse(xhr.responseText);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = responsejson.response;
      } else if (xhr.readyState === 4 && xhr.status === 0) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "No response from server";
      } else if (xhr.readyState === 4) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "Error "+xhr.status;
      }
    };
    fd.append('file', file);
    // Initiate a multipart/form-data upload
    concurrentuploads++;
    setTimeout(function() {
      xhr.send(fd);
    }, Math.max(concurrentuploads-5,0)*10); //TODO: longer timeouts for production
  }

  function minToString(minutes) {
    var m = minutes % 60;
    var h = (minutes-m)/60;
    return h.toString() + ":" + (m<10?"0":"") + m.toString();
  }

  function dragenter(e) {
    e.stopPropagation();
    e.preventDefault();
    dropbox.classList.add('dragging');
  }

  function dragleave(e) {
    e.stopPropagation();
    e.preventDefault();
    dropbox.classList.remove('dragging');
  }

  function dragover(e) {
    e.stopPropagation();
    e.preventDefault();
  }

  function drop(e) {
    e.stopPropagation();
    e.preventDefault();

    const dt = e.dataTransfer;
    const files = dt.files;
    handleFiles(files);
  }

  function clickdropbox(e) {
    inputElement.click();
  }



  function newsletter(email) {
    if (!email) {
      document.getElementById("newslettermessage").innerText = "Empty Email address :("
      return;
    }
    const uri = "/newslettersignup/"+email;
    const xhr = new XMLHttpRequest();
    const fd = new FormData();

    xhr.open("GET", uri, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) { //all good
        document.getElementById("newsletter").innerHTML = "✅ Your Email has been saved.";
      }
      else if (xhr.readyState === 4 && xhr.status === 400) { //some error
        var responsejson = JSON.parse(xhr.responseText);
        document.getElementById("newslettermessage").innerText = responsejson.response;
      } else if (xhr.readyState === 4 && xhr.status === 0) { //no response
        console.log("no response");
      } else if (xhr.readyState === 4) { //other error
        document.getElementById("newslettermessage").innerText = "Error "+xhr.status;
      }
    };
    xhr.send(fd);
  }
</script>

      
  </body>
</html>
