<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        padding: 5px;
        background-color: #dfe7ff;
      }

      .dragging {
        background-color: #b5c9ff;
      }

      #drop_zone * {pointer-events: none;}
    </style>

    
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-light">CubeTrek is an experimental App to visualize GPS Tracks in 3D to realistically depict the topography. It's intended for
          Outdoor activities in mountainous and hilly Terrain, such as Skiing, Mountaineering, Mountainbiking and Trailrunning.</p>
          <p class="text-light">If you encounter any problems, errors and bugs, shoot me an email.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="mailto:contact@cubetrek.com" class="text-white">Email me</a></li>
          </ul>
          <h4 class="text-white">More Projects</h4>
          <ul class="list-unstyled">
            <li><a href="http://sunlocator.com" class="text-white">Sun Locator</a><br>
              An Android App to predict the Sun position and shadowing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="navbar-brand d-flex align-items-center">
        <img class="me-2" width="30" src="/assets/logo.svg">CubeTrek
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Your GPS-Tracks in 3D</h1>
        <p class="lead text-muted">Topography is what makes Skiing, Hiking, Trailrunning and Mountainbiking so exciting.</p>
        <p class="lead text-muted">You conquer those Vertical Distances with a lot of sweat and effort, but your Tracking Software only shows a
          boring 2D Map.</p>
        <p class="lead text-muted">That's where <strong>CubeTrek</strong> comes in.
        </p>
        <p>
          <a href="#examples" class="btn btn-primary my-2">See Examples</a>
          <a href="#upload" class="btn btn-secondary my-2">Upload your own Track</a>
          <a href="#news" class="btn btn-secondary my-2">Receive News</a>
        </p>
      </div>
    </div>
  </section>

  <div id="examples" class="album py-5 bg-light">
    <div class="container">
      <h2 class="fw-light text-center">Examples</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/cima.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/6338">Cima di Fiorina</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Hike</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/mat.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/4967">Mattjisch Horn</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Ski Mountaineering</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('/assets/pics/stmo.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a class="h2 pt-5 mt-5 mb-4 display-6 lh-1 fw-bold stretched-link text-decoration-none " href="/view/6638">St. Moritz Run</a>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-content-end me-3">
                  <small>Run</small>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="upload" class="py-5">
    <div class="container">
      <h2 class="fw-light text-center">Upload and View your GPS-Track</h2>
      <div class="row">
        <div id="drop_zone" class="col-4 offset-4 align-middle drop-area">
          <input type="file" id="uploadfile" style="display:none;">
          <p><u>Click here</u> or drag your file into this Box.<br>
            Accepted file types: GPX and FIT.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table" id="table" style="display: none;">
            <thead><tr>
              <th>File name</th>
              <th>Track Name</th>
              <th>Type</th>
              <th>Date</th>
              <th>Distance</th>
              <th>Elevation Gain</th>
              <th>Time</th>
              <th> </th>
            </tr></thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-6">
          <span class="badge bg-warning text-dark">Privacy Disclaimer</span> Although the upload occurs anonymously (meaning no IP or email addresses are saved and correlated
          to your upload, no ads and trackers are used), the GPS Track itself can contain data that might be sensitive (It shows when and where you have been, naturally).<br>
          <strong>Be aware that anyone with the generated link will be able to view your track.</strong>
        </div>
        <div class="col-md-6">
          <span class="badge bg-warning text-dark">Experimental</span> The whole thing is still very experimental and
          might blow up any minute.<br>
          No guarantees on accuracy, no guarantees on how long the uploaded tracks will be available via the link.<br>
          But if you encounter any problems, <a href="mailto:contact@cubetrek.com">please tell me via email</a> (include your GPS Track if possible).
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-6">
          <span class="badge bg-warning text-dark">Current Limitations</span> Only FIT and GPX files are supported (e.g. no TCX files) with the correct file suffix.<br>
          Only activities that cover an area which is smaller than 100km x 100km (62x62 miles in medieval units).<br>
          Max. file size is 5 MB (that's more than it sounds) <br>
          The Track must contain time data.<br>
          Elevation data is automatically added if not present (yes, that's actually not a limitation).
        </div>
      </div>
    </div>
  </div>

  <div id="news" class="py-5 bg-light">
    <div class="container">
      <h2 class="fw-light text-center">Get News</h2>

      <div class="row pt-3">
        <div class="col-md-4" id="newsletter">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailinput" placeholder="name@example.com">
            <label for="emailinput">Email address</label>
          </div>
          <button type="submit" class="btn btn-primary mb-3" onclick="newsletter(document.getElementById('emailinput').value)" id="submitemail">Submit</button> <span id="newslettermessage">Your address will not be shared.</span>
        </div>
        <div class="col-md-7 offset-md-1 lead">
          <p><b>CubeTrek</b>'s still in an experimental stage.<br>
            The Vision is to become the home for all your Mountain related GPS Tracks.</p>
          <p>To receive updates, sign up for the mailing list. Or get in touch via <a href="mailto:contact@cubetrek.com">Email</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="techdeeds" class="py-5">
    <div class="container">
      <div class="accordion" id="tech-exposition">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed fw-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Tech Stack Rundown for the Interested
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#exposition">
            <div class="accordion-body">
              <p>For the technically inclined people, here's a <strong>short summary of the underlying tech stack</strong> used by CubeTrek.</p>
              <p>The Back End is constructed with <a href="https://i.imgur.com/oCqmcnE.jpeg">Java</a> and <a href="https://spring.io/projects/spring-boot">Spring Boot</a> backed with <a href="https://www.postgresql.org/">Postgresql</a> (and <a href="https://postgis.net/">Postgis</a>), the Front End is based on <a href="https://getbootstrap.com/">Bootstrap</a>. <a href="http://vanilla-js.com/">Good old plain JavaScript</a> is used for interaction with the server.</p>
              <p>The actual 3D magic is performed by the awesome <a href="https://www.babylonjs.com/">Babylon.js</a> library (check it out, if you've never heard of it), the graph is handled by <a href="https://d3js.org/">D3.js</a> (very versatile, but a steep learning curve), the 2D map is rendered with <a href="https://maplibre.org/">MapLibre GL JS</a> (which is very straightforward to use in this particular case).</p>

              <p><strong>So here's what happens when you upload a FIT or GPX file:</strong> the server reads the tracks, downsamples them to a reasonable resolution and calculates some descriptive values (such as the geographical bounding box, distance, time, etc.).<br>
              The elevation data is cross-checked with the elevation model on the server. This is done to check if the device's height sensors were propely calibrated and a simple correction is applied if necessary. If elevation data is completely absent in the file (because the recording device doesn't have a height sensor) the elevation data is interpolated completely from the model.<br>
                The elevation model consists of <a href="https://wiki.openstreetmap.org/wiki/SRTM#Format">HGT files</a> retrieved from the <a href="https://lpdaac.usgs.gov/products/srtmgl1v003/">NASA SRTM</a> dataset.</p>

              <p>To guess the activity name, we take the highest point in the track data (making the assumption that this is the most prominent point of the whole activity, e.g. the summit). This is cross-checked against a peak database on the server. The data comes from <a href="https://www.openstreetmap.org">OpenStreetMap</a> and contains all OSM features annotated as '<a href="https://wiki.openstreetmap.org/wiki/Tag:natural%3Dpeak">Peak</a>', and contains >520k entries.<br>
                If there's no peak in the vicinity, a reverse geocoding request is sent to <a href="https://www.maptiler.com/">Maptiler</a>.</p>

              <p>Once all the data is gathered, it's stored in a PostGIS extended PostgreSQL database and the activity is ready be to put on the spotlight.</p>

              <p><strong>When you view the activity in the 3D viewer:</strong> the server provides two key files for each activity. An extended <a href="https://en.wikipedia.org/wiki/GeoJSON">GeoJSON</a> file, describing the track latitude/longitude data, time, and elevation data. A <a href="https://kcoley.github.io/glTF/">gLTF</a> file which contains the 3D Model of the topography. Babylon.js is used to display the gLTF file and loads the texture (map tiles) from Maptiler.<br>
              A custom script than draws the track on top of the texture of the 3D model.<br>
              The script also handles the D3.js graph data conversion from the GeoJSON file, the mouse interaction etc.<br>
                The 2D map is very straightforward: just show the GeoJSON data in a MapLibre map (again using Maptiler as source for the map data).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

<footer class="text-muted py-5 bg-light">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; CubeTrek 2022</p>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<script>
  const inputElement = document.getElementById("uploadfile");
  const dropbox = document.getElementById("drop_zone");
  const table = document.getElementById("table");

  inputElement.addEventListener("change", changeFiles, false);
  dropbox.addEventListener("dragenter", dragenter, false);
  dropbox.addEventListener("dragleave", dragleave, false);
  dropbox.addEventListener("dragover", dragover, false);
  dropbox.addEventListener("drop", drop, false);
  dropbox.addEventListener("click", clickdropbox, false);

  function changeFiles() {
    handleFiles(this.files)
  }
  function handleFiles(fileList) {
    for (let i = 0, numFiles = fileList.length; i < numFiles; i++) {
      const file = fileList[i];
      sendFile(file);
      return;
    }
  }

  var tableStore = {key1: "empty"};
  var concurrentuploads = 0;

  function sendFile(file) {
    table.style.display = 'block';
    const uri = "/upload_anonymous";
    const xhr = new XMLHttpRequest();
    const fd = new FormData();

    tableStore[file.name+file.lastModified] = table.insertRow(-1);
    tableStore[file.name+file.lastModified].insertCell(0).appendChild(document.createTextNode(file.name));
    tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width: 0%\" id='progress"+file.name+file.lastModified+"'></div></div>";
    tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "<div class=\"spinner-border spinner-border-sm text-info\" role=\"status\" />";


    xhr.open("POST", uri, true);
    xhr.upload.onprogress = function(evt)
    {
      var percentComplete = evt.loaded / file.size * 100;
      document.getElementById("progress"+file.name+file.lastModified).setAttribute("style","width: "+percentComplete+"%");
    };
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        var responsejson = JSON.parse(xhr.responseText);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.title+"</a>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.activitytype+"</a>";
        tableStore[file.name+file.lastModified].insertCell(3).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+(new Date(Date.parse(responsejson.date))).toLocaleString()+"</a>";
        tableStore[file.name+file.lastModified].insertCell(4).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+(parseFloat(responsejson.trackSummary.distance)/1000).toFixed(1) + " km"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(5).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+responsejson.trackSummary.elevationUp + " m"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(6).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank' class='text-decoration-none'>"+minToString(parseInt(responsejson.trackSummary.duration))+ " h"+"</a>";
        tableStore[file.name+file.lastModified].insertCell(7).innerHTML = "<a href='view/"+responsejson.trackID+"' target='_blank'>View</a>";
      }
      else if (xhr.readyState === 4 && xhr.status === 400) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        var responsejson = JSON.parse(xhr.responseText);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = responsejson.response;
      } else if (xhr.readyState === 4 && xhr.status === 0) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "No response from server";
      } else if (xhr.readyState === 4) {
        tableStore[file.name+file.lastModified].deleteCell(2);
        tableStore[file.name+file.lastModified].deleteCell(1);
        tableStore[file.name+file.lastModified].insertCell(1).innerHTML = "<span class=\"badge bg-warning text-dark\">Error</span>";
        tableStore[file.name+file.lastModified].insertCell(2).innerHTML = "Error "+xhr.status;
      }
    };
    fd.append('file', file);
    // Initiate a multipart/form-data upload
    concurrentuploads++;
    setTimeout(function() {
      xhr.send(fd);
    }, Math.max(concurrentuploads-5,0)*10); //TODO: longer timeouts for production
  }

  function minToString(minutes) {
    var m = minutes % 60;
    var h = (minutes-m)/60;
    return h.toString() + ":" + (m<10?"0":"") + m.toString();
  }

  function dragenter(e) {
    e.stopPropagation();
    e.preventDefault();
    dropbox.classList.add('dragging');
  }

  function dragleave(e) {
    e.stopPropagation();
    e.preventDefault();
    dropbox.classList.remove('dragging');
  }

  function dragover(e) {
    e.stopPropagation();
    e.preventDefault();
  }

  function drop(e) {
    e.stopPropagation();
    e.preventDefault();

    const dt = e.dataTransfer;
    const files = dt.files;
    handleFiles(files);
  }

  function clickdropbox(e) {
    inputElement.click();
  }



  function newsletter(email) {
    if (!email) {
      document.getElementById("newslettermessage").innerText = "Empty Email address :("
      return;
    }
    const uri = "/newslettersignup/"+email;
    const xhr = new XMLHttpRequest();
    const fd = new FormData();

    xhr.open("GET", uri, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) { //all good
        document.getElementById("newsletter").innerHTML = "✅ Your Email has been saved.<p>Thank you for subscribing " +
                "to &laquo;Daily Penguin Facts&raquo;</p><p>First Fun Fact is Free:<br><small>The largest Penguin (<i>Palaeeudyptes klekowskii</i>) lived " +
                "40 million years ago and was 2 meters high and weighed 115 kg (6.5 feet and 250 lbs).</small></p>" +
                "Just kidding, your email address will be treated with utmost care and respect.";
      }
      else if (xhr.readyState === 4 && xhr.status === 400) { //some error
        var responsejson = JSON.parse(xhr.responseText);
        document.getElementById("newslettermessage").innerText = responsejson.response;
      } else if (xhr.readyState === 4 && xhr.status === 0) { //no response
        console.log("no response");
      } else if (xhr.readyState === 4) { //other error
        document.getElementById("newslettermessage").innerText = "Error "+xhr.status;
      }
    };
    xhr.send(fd);
  }
</script>

      
  </body>
</html>
