<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Matching Activities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img class="me-2" src="/assets/logo.svg" width="30">CubeTrek</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img src="../assets/cubetrek_settings.svg" height="20px"></a>
    </ul>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='activitylist')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
    </div>

    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Compare Matching Activities</h1>
            </div>
            <div class="row">
                <div class="col d-flex p-0">
                    <div class="d-flex flex-fill w-100 flex-column p-0 m-0" style="height: 25vh; min-height: 250px">
                        <div class="flex-grow-1 p-0 m-0" id="graph" style="width:95%"></div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="errorbox" style="display:none;">
                Error fetching data
            </div>


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Matching Activities</h4>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th> Date </th>
                    <th> Title </th>
                    <th> Duration </th>
                    <th> Ascent </th>
                    <th> Distance </th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>

        </main>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

<script src="../js/d3.min.js"></script>
<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/
</script>
<script>

    var groupidstring = "[(${groupidstring})]";

    var entries = {};
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;
    const tablebody = document.getElementById("tbody");

    function populateTable() { //clear everything and start downloading data
        while (tablebody.firstChild) {
            tablebody.removeChild(tablebody.firstChild);
        }
        listData();
    }

    function addRowInfo(row, entry) {
        row.insertCell().innerHTML = "<img src='../assets/"+icons[entry.activitytype][0]+"' alt='"+icons[entry.activitytype][1]+"' height=20px>";
        row.insertCell().innerHTML = (new Date(Date.parse(entry.datetrack))).toLocaleString();
        row.insertCell().innerHTML = (entry.favorite?"<img src='../assets/icon_favorite_select.svg' height='15px'>":"") + "<a href='/view/"+entry.id+"'>"+entry.title+"</a>";
        row.insertCell().innerHTML = minToString(parseInt(entry.duration))+ " h";
        row.insertCell().innerHTML = (entry.elevationup*(metric?1:feet_per_m)).toFixed(0) + (metric?" m":" ft");
        row.insertCell().innerHTML = (parseFloat(entry.distance)/1000*(metric?1:miles_per_km)).toFixed(1) + (metric?" km":" mi");
    }

    function fetchData() {
        var url = "/matching_ajax?groupid="+groupidstring;

        fetch(url)
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    document.getElementById("errorbox").style.display = 'block';
                }
            })
            .then(data => {
                for (var entry of data) {
                    entries[entry.id] = entry;
                }
                populateTable();
                drawGraph();
                }
            );
    }

    function listData() {
        for (const [id, entry] of Object.entries(entries)) {
            var newRow = tablebody.insertRow();
            newRow.id="r"+entry.id;
            addRowInfo(newRow, entry);
        }
    }

    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    datas = [];

    function drawGraph() {
        let count = 0;
        for (const [id, entry] of Object.entries(entries)) {
            datas.push({'id' : entry.id, 'xpos' : count++, 'pace' : ((entry.duration/entry.distance)*1000)});
        }

        this.width = document.getElementById('graph').clientWidth * 0.8;
        this.width = Math.max(500, this.width);

        d3.select("#graph").select("svg").remove(); //clear if exists already

        margingraph = {top: 10, right: 30, bottom: 25, left: 40};

        width = document.getElementById('graph').clientWidth-this.margingraph.left-this.margingraph.right;
        height = document.getElementById('graph').clientHeight-this.margingraph.top-this.margingraph.bottom;

        // append the svg object to the body of the page
        d3.select("#graph").select("svg").remove(); //clear if exists already
        this.svg = d3.select("#graph")
            .append("svg")
            .attr("width", this.width + this.margingraph.left + this.margingraph.right)
            .attr("height", this.height + this.margingraph.top + this.margingraph.bottom)
            .append("g")
            .attr("transform",
                "translate(" + this.margingraph.left + "," + this.margingraph.top + ")");


        var x = d3.scaleLinear()
            .domain(d3.extent(datas, function(d) { return d.xpos}))
            .range([ 0, width]);


        var y = d3.scaleLinear()
            .domain(d3.extent(datas, function(d) { return d.pace}))
            .range([ 0, height ]);
        svg.append("g")
            .call(d3.axisLeft(y));

        svg
            .append("g")
            .selectAll("dot")
            .data(datas)
            .enter()
            .append("circle")
            .attr("class", "myCircle")
            .attr("cx", function(d) { return x(d.xpos) } )
            .attr("cy", function(d) { return y(d.pace) } )
            .attr("r", 8)
            .attr("stroke", "#69b3a2")
            .attr("stroke-width", 3)
            .attr("fill", "white")

        svg.append("path")
            .datum(datas)
            .attr("fill", "none")
            .attr("stroke", "black")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .curve(d3.curveBasis) // Just add that to have a curve instead of segments
                .x(function(d) { return x(d.xpos) })
                .y(function(d) { return y(d.pace) })
            )


    }


    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        populateTable();
    }

    window.addEventListener("resize", function () {

    });

    settings();
    fetchData();


</script>

</html>