<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Matching Activities</title>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css " rel="stylesheet">
    <script src=" https://cdn.jsdelivr.net/npm/maplibre-gl@3.1.0/dist/maplibre-gl.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/maplibre-gl@3.1.0/dist/maplibre-gl.min.css " rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img class="me-2" src="/assets/logo.svg" width="30">CubeTrek</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100"></div>
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img src="../assets/cubetrek_settings.svg" height="20px"></a>
    </ul>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{dashboard.html :: navigation(field='none')}" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
    </div>

    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><span id="entrysize"></span> Matching Activities</h1>
                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#editBatchModal">Rename Activities</a>
            </div>
            <div class="row" style="height: 35vh;">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1">
                    <h4 class="h4">Average Pace <a class="btn btn-light btn-sm" id="barGraphButton" onclick="updateGraph()">
                        Sequential
                    </a></h4>

                </div>

                <div class="row">
                    <div class="col-8 col-lg-7">
                      <div class="p-0 m-0" id="graph" style="width: 100%; height: 100%; min-height: 60px;" ></div>
                    </div>
                    <div class="col-4 col-lg-2">
                        <div class="p-0 m-0" id="histo" style="width: 100%; height: 100%; min-height: 60px;" ></div>
                    </div>
                    <div class="col-12 col-lg-3 ms-2">
                        <div class="row" id="map2d" style="width: 100%; height: 100%; min-height: 60px; min-width: 60px;"></div>
                        <div class="row" id="map2dlegend"></div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="errorbox" style="display:none;">
                Error fetching data
            </div>

            <div class="row pt-4" style="height: 45vh">

                <div id="activitytable" style="height: 45vh; overflow:auto;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th> Date </th>
                            <th> Title </th>
                            <th> Duration </th>
                            <th> Ascent </th>
                            <th> Distance </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()" checked="checked">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editBatchModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Batch Rename</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessageeditbatch" role="alert">
                </div>
                <div class="alert alert-success" style="display: none;" id="successmessageeditbatch" role="alert">
                </div>
                <form>
                    <div class="mb-3">
                        <label for="inputTitleBatchRename" class="form-label">Rename all <span id="entrysize2"></span> matching Activities</label>
                        <input type="text" class="form-control" id="inputTitleBatchRename" value="bla"
                               maxlength="250">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="saveEditBatch()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessageedit" role="alert">
                </div>
                <div class="alert alert-success" style="display: none;" id="successmessageedit" role="alert">
                </div>
                <form>
                    <div class="mb-3">
                        <label for="inputTitle" class="form-label">Track Title</label>
                        <input type="text" class="form-control" id="inputTitle"
                               maxlength="250">
                    </div>
                    <div class="mb-3">
                        <label for="inputType" class="form-label">Track Type</label>

                        <select class="form-select" id="inputType">
                            <option th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"
                                    th:value="${activityOpt}"
                                    th:text="${activityOpt.displayValue}"
                            ></option>
                        </select>
                    </div>
                    <h6 class="mt-3">Favorite</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="favoriteChecked"
                               onclick="setFavorite()">
                        <label class="form-check-label" for="favoriteChecked" id="favoriteCheckedLabel">Favorite</label>
                    </div>
                    <h6 class="mt-3">Privacy</h6>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" id="publicChecked"
                               onclick="setTrackShare()">
                        <label class="form-check-label" for="publicChecked" id="publicCheckedLabel">Public</label>
                    </div>
                    <h6 class="mt-3">Hide or Delete Track</h6>
                    <button type="button" class="btn btn-primary btn-sm" onclick="clickhide(false)">Hide Track
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="clickdelete(false)">Delete Track
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="saveEdit()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmhidden" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hide Track</h5>
            </div>
            <div class="modal-body">
                <p>Hiding a track will exclude it from the Dashboard and your totals.</p>
                <p>The only way to view hidden tracks later on is through the designated link on the dashboard.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" onclick="clickhide(true)">Hide Track</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmdelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Track</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Track?</p>
                <p>This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" onclick="clickdelete(true)">Delete Track</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var maptilerApiKey = [[${maptilerApiKey}]];
    /*]]>*/
</script>
<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/
    var groupidstring = "[(${groupidstring})]";
    var matches = [(${matches})];
</script>
<script th:inline="none">
    var entries = new Map();
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;
    const tablebody = document.getElementById("tbody");
    let graph;
    let histo;

    function addRowInfo(row, entry) {
        row.insertCell().innerHTML = "<img src='../assets/"+icons[entry.activitytype][0]+"' alt='"+icons[entry.activitytype][1]+"' height=20px>";
        row.insertCell().innerHTML = (new Date(Date.parse(entry.datetrack))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
        row.insertCell().innerHTML = (entry.favorite?"<img src='../assets/icon_favorite_select.svg' height='15px'>":"") + "<a href='/view/"+entry.id+"'>"+entry.title+"</a>";
        row.insertCell().innerHTML = minToString(parseInt(entry.duration))+ " h";
        row.insertCell().innerHTML = (entry.elevationup*(metric?1:feet_per_m)).toFixed(0) + (metric?" m":" ft");
        row.insertCell().innerHTML = (parseFloat(entry.distance)/1000*(metric?1:miles_per_km)).toFixed(1) + (metric?" km":" mi");
        row.insertCell().innerHTML = "<div onclick='menu("+entry.id+")' style='cursor:pointer' id='c"+entry.id+"'>...</div>"
        row.onmouseover = (event) => {highlight(entry.id, false)};
        row.onmouseout = (event) => {unhighlight(entry.id)};
        row.onclick = (event) => {clickactivity(entry.id, false)};
    }


    function initData() {
        while (tablebody.firstChild) {
            tablebody.removeChild(tablebody.firstChild);
        }

        for (var entry of matches) {
            entries.set(entry.id, entry);
            var newRow = tablebody.insertRow();
            newRow.id="r"+entry.id;
            addRowInfo(newRow, entry);
        }

        graph = new Graph();
        histo = new Histo();
        const firstentry = entries.values().next().value;
        fetchgeojson(firstentry.id, true);
        document.getElementById("entrysize").innerText = entries.size;
        document.getElementById("entrysize2").innerText = entries.size;
        document.getElementById("inputTitleBatchRename").value = firstentry.title;
    }

    var menu = function(id) {
        document.getElementById("successmessageedit").style.display = "none";
        selectedtrackid = id;
        var entry = entries.get(id);
        bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show();
        document.getElementById("inputTitle").value = (new DOMParser().parseFromString(entry.title, "text/html")).documentElement.textContent ;
        document.getElementById("inputType").value = entry.activitytype;
        document.getElementById("favoriteChecked").checked = entry.favorite;

        if (entry.favorite) {
            document.getElementById("favoriteChecked").checked = true;
            document.getElementById("favoriteCheckedLabel").innerText = "Favorite";
        } else {
            document.getElementById("favoriteChecked").checked = false;
            document.getElementById("favoriteCheckedLabel").innerText = "Not in your Favorites List";
        }

        if (entry.sharing === "PUBLIC") {
            document.getElementById("publicChecked").checked = true;
            document.getElementById("publicCheckedLabel").innerText = "Public, anyone with the link can view this track";
        } else {
            document.getElementById("publicChecked").checked = false;
            document.getElementById("publicCheckedLabel").innerText = "Private, only you can view this track";
        }
    }

    const root = "../api/";

    function saveEdit() {
        let currentEntry = entries.get(selectedtrackid);
        let editTitle = document.getElementById("inputTitle").value;
        let editType = document.getElementById("inputType").value;
        let editFavorite = document.getElementById("favoriteChecked").checked;
        let editShared = (document.getElementById("publicChecked").checked ? "PUBLIC" : "PRIVATE");

        if (editTitle !== currentEntry.title || editType !== currentEntry.activitytype ) {
            let data = {index: selectedtrackid, title: editTitle, activitytype: editType};

            fetch(root+"modify", {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {
                        document.getElementById("successmessageedit").innerText = "Changes saved";
                        document.getElementById("successmessageedit").style.display = "block";
                    } else {
                        document.getElementById("errormessageedit").innerText = response.response;
                        document.getElementById("errormessageedit").style.display = "block";
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        if (editFavorite !== currentEntry.favorite) {
            fetch(root+"modify/id="+selectedtrackid+"&favorite="+(editFavorite), {
                method: "GET"
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {

                    } else {
                        //not good
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        if (editShared !== currentEntry.sharing) {
            fetch(root+"modify/id="+selectedtrackid+"&sharing="+editShared, {
                method: "GET"
            }).then(res => {
                res.json().then(response => {
                    if (res.ok) {

                    } else {
                        //not good
                    }
                });
            }).catch(error => {
                console.log("--error");
                console.log(error);
            });
        }

        entries.get(selectedtrackid).title = editTitle;
        entries.get(selectedtrackid).activitytype = editType;
        entries.get(selectedtrackid).favorite = editFavorite;
        entries.get(selectedtrackid).sharing = editShared;

        var row = document.getElementById("r"+selectedtrackid);
        row.innerHTML="";
        addRowInfo(row, entries.get(selectedtrackid));
        bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
    }

    function clickdelete(confirmed) {
        if (!confirmed) {
            bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmdelete')).show();
            bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
            return;
        }
        fetch(root + "modify/id=" + selectedtrackid, {
            method: "DELETE"
        }).then(res => {
            res.json().then(response => {
                if (res.ok) {
                    deleteRow(selectedtrackid);
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmdelete')).hide();
                } else {
                    //not good
                }
            });
        }).catch(error => {
            console.log("--error");
            console.log(error);
        });
    }

    function clickhide(confirmed) {
        if (!confirmed) {
            bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmhidden')).show();
            bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).hide();
            return;
        }
        fetch(root+"modify/id="+selectedtrackid+"&hidden=true", {
            method: "GET"
        }).then(res => {
            res.json().then(response => {
                if (res.ok) {
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('confirmhidden')).hide();
                    deleteRow(selectedtrackid);
                } else {
                    //not good
                }
            });
        }).catch(error => {
            console.log("--error");
            console.log(error);
        });
    }

    function setFavorite() {
        document.getElementById("favoriteChecked")

        if (document.getElementById("favoriteChecked").checked) {
            document.getElementById("favoriteCheckedLabel").innerText = "Favorite";
        } else {
            document.getElementById("favoriteCheckedLabel").innerText = "Not in your Favorites List";
        }
    }

    function setTrackShare() {
        document.getElementById("publicChecked")

        if (!document.getElementById("publicChecked").checked) {
            document.getElementById("publicCheckedLabel").innerText = "Private, only you can view this track";
        } else {
            document.getElementById("publicCheckedLabel").innerText = "Public, anyone with the link can view this track";
        }
    }

    function fetchgeojson(trackid, first_load) {
        var url = "/api/geojson/"+trackid+".geojson";
        if (!first_load) {
            map.removeLayer('route');
            map.removeSource('route');
        }
        document.getElementById("map2dlegend").innerText = (new Date(Date.parse(entries.get(trackid).datetrack))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
        fetch(url)
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    document.getElementById("errorbox").style.display = 'block';
                }
            })
            .then(geojson => {prepareMap2d(geojson, first_load);});
    }

    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    function minFractionToString(minutes) {
        var seconds = minutes*60;
        var sec = seconds % 60;
        var min = (seconds-sec)/60;
        sec = Math.round(sec);
        return min.toString() + ":" + (sec<10?"0":"") + (sec.toFixed(0)).toString();
    }

    datas = [];
    var tooltip;

    let sequentialGraph = true;

    function formatMinutes(d) {
        const minutes = Math.floor(d);
        const seconds = Math.floor((d - minutes) * 60);
        return minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
    }

    class Graph {

        constructor() {
            let count = 0;
            for (const [id, entry] of entries) {
                datas.push({'id' : entry.id, 'xpos' : count++, 'pace' : ((entry.duration/entry.distance)*1000)*(metric?1:miles_per_km), 'date' : new Date(entry.datetrack)});
            }
            this.margingraph = {top: 10, right: 20, bottom: 20, left: 30};

            this.width = document.getElementById('graph').clientWidth-this.margingraph.left-this.margingraph.right;
            this.height = document.getElementById('graph').clientHeight-this.margingraph.top-this.margingraph.bottom;

            d3.select("#graph").select("svg").remove(); //clear if exists already
            this.svgcontainer = d3.select("#graph")
                .append("svg")
                .attr("width", this.width + this.margingraph.left + this.margingraph.right)
                .attr("height", this.height + this.margingraph.top + this.margingraph.bottom);
            this.svg = this.svgcontainer.append("g")
                .attr("transform",
                    "translate(" + this.margingraph.left + "," + this.margingraph.top + ")");

            this.xscale = d3.scaleLinear()
                .domain(d3.extent(datas, function(d) { return d.xpos}))
                .range([ this.width, 0]);
            this.xAxis = this.svg.append("g")
                .attr("transform", `translate(0,${this.height})`)
                .call(d3.axisBottom(this.xscale));

            this.yscale = d3.scaleLinear()
                .domain(d3.extent(datas, function(d) { return d.pace}))
                .range([ 0, this.height ]);
            this.yAxis = this.svg.append("g")
                .call(d3.axisLeft(this.yscale).ticks(4).tickFormat(formatMinutes));

            tooltip = d3.select("body")
                .append("div")
                .style("position", "absolute")
                .style("z-index", "10")
                .style("visibility", "hidden")
                .style("background", "rgba(245, 245, 255, 0.6)");

            this.path = this.svg.append("path")
                .datum(datas);

            this.minmax = d3.extent(datas, function(d) {return d.pace});

            this.circles = this.svg.append("g").selectAll("dot").data(datas).enter().append("circle")
                .attr("id", function (d) {
                    return "c" + d.id
                })
                .on("mouseover", function (e, i) {
                    highlight(i.id, true);
                })
                .on("mouseout", function (d, i) {
                    unhighlight(i.id);
                })
                .on("click", function (d, i) {
                    clickactivity(i.id);
                });

            this.colorScale = d3.scaleSequential(d3.interpolatePlasma)
                .domain(d3.extent(datas, function (d) { return d.pace; }).reverse());

            this.updateWindowSize();

        };

        drawPath() {
            this.path
                .attr("fill", "none")
                .attr("stroke", "#ff8001")
                .attr("stroke-width", 1.5)
                .transition()
                .attr("d", d3.line()
                    .curve(d3.curveBasis) // Just add that to have a curve instead of segments
                    .x(function (d) {
                        if (sequentialGraph)
                            return this.xscale(d.xpos);
                        else
                            return this.xscale(d.date);
                    }.bind(this))
                    .y(function (d) {
                        return this.yscale(d.pace)
                    }.bind(this))
                )
        }

        drawCircles() {
            this.circles
                .attr("cy", function (d) {
                    return this.yscale(d.pace)
                }.bind(this))
                .transition()
                .attr("cx", function (d) {
                    if (sequentialGraph)
                        return this.xscale(d.xpos);
                    else
                        return this.xscale(d.date);
                }.bind(this))
                .attr("r", 5)
                .attr("stroke", "#101010")
                .attr("stroke-width", 1)
                .style("fill", function (d) {
                    return this.colorScale(d.pace); // Using pace value to determine color
                }.bind(this))
                .filter(function (d) {
                    return d.pace === this.minmax[0] || d.pace === this.minmax[1]
                }.bind(this))
                .attr("stroke", "#fa7c7c")
                .attr("stroke-width", 3);
        }

        update() {
            if (sequentialGraph) {
                this.xscale = d3.scaleLinear()
                    .domain(d3.extent(datas, function (d) {
                        return d.xpos
                    }))
                    .range([this.width, 0]);
                this.xAxis.call(d3.axisBottom(this.xscale)).style('opacity', 0);
                this.drawCircles();
                this.drawPath();
            } else {
                this.xscale = d3.scaleTime()
                    .domain(d3.extent(datas, function (d) {
                        return d.date
                    }))
                    .range([0, this.width]);
                this.xAxis.attr("transform", `translate(0,${this.height})`).call(d3.axisBottom(this.xscale)).transition().style('opacity', 1);
                this.drawCircles();
                this.drawPath();
            }
        }
        updateWindowSize() {
            let count = 0;
            datas = [];
            for (const [id, entry] of entries) {
                datas.push({'id' : entry.id, 'xpos' : count++, 'pace' : ((entry.duration/entry.distance)*1000)*(metric?1:miles_per_km), 'date' : new Date(entry.datetrack)});
            }

            this.width = document.getElementById('graph').clientWidth-this.margingraph.left-this.margingraph.right;
            this.height = document.getElementById('graph').clientHeight-this.margingraph.top-this.margingraph.bottom;

            this.svgcontainer.attr("width", this.width + this.margingraph.left + this.margingraph.right)
                .attr("height", this.height + this.margingraph.top + this.margingraph.bottom);
            this.svg.attr("width", this.width)
                .attr("height", this.height);

            this.yscale.range([ 0, this.height ]);

            this.yAxis.call(d3.axisLeft(this.yscale).ticks(4).tickFormat(formatMinutes));

            this.update();
        }
    }

    class Histo {
        constructor() {
            this.margingraph = {top: 5, right: 10, bottom: 20, left: 20};

            this.width = document.getElementById('histo').clientWidth-this.margingraph.left-this.margingraph.right;
            this.height = document.getElementById('histo').clientHeight-this.margingraph.top-this.margingraph.bottom;

            d3.select("#histo").select("svg").remove(); //clear if exists already
            this.containersvg = d3.select("#histo")
                .append("svg");
            this.svg = this.containersvg.append("g")
                .attr("transform", "translate(" + this.margingraph.left + "," + this.margingraph.top + ")");

            this.xscale = d3.scaleLinear()
                .domain(d3.extent(datas, function (d) {
                    return d.pace
                }))
                .range([this.width, 0]);
            this.xAxis = this.svg.append("g");

            this.histogram = d3.histogram()
                .value(function (d) {
                    return d.pace;
                })
                .domain(this.xscale.domain())
                .thresholds(this.xscale.ticks(Math.ceil(Math.sqrt(datas.length))));

            this.bins = this.histogram(datas);

            this.yscale = d3.scaleLinear()
                .range([this.height, 0]);
            this.yscale.domain([0, d3.max(this.bins, function (d) {
                return d.length;
            })]);
            this.yAxis = this.svg.append("g");

            this.colorScale = d3.scaleSequential(d3.interpolatePlasma)
                .domain(d3.extent(datas, function (d) { return d.pace; }).reverse());

            this.bars = this.svg.selectAll("rect")
                .data(this.bins)
                .enter()
                .append("rect")
                .attr("x", 1)
                .attr("transform", function (d) {
                    return "translate(" + this.xscale(d.x0) + "," + this.yscale(d.length) + ")";
                }.bind(this))
                .attr("width", function (d) {
                    return this.xscale(d.x1) - this.xscale(d.x0) - 1;
                }.bind(this))
                .attr("height", function (d) {
                    return this.height - this.yscale(d.length);
                }.bind(this))
                .style("fill", function (d) {
                    return this.colorScale(d.x0); // Using pace value to determine color
                }.bind(this));
        }

        update() {
            this.xscale.range([this.width, 0]);
            this.xAxis.attr("transform", "translate(0," + this.height + ")").call(d3.axisBottom(this.xscale).ticks(5).tickFormat(formatMinutes));
            this.histogram.domain(this.xscale.domain());
            this.yscale.range([this.height, 0]);
            if (Math.abs(this.yscale.domain()[0]-this.yscale.domain()[1])>5) {
                this.yAxis.call(
                    d3.axisLeft(this.yscale).ticks(6)
                )
            } else {
                this.yAxis.call(
                    d3.axisLeft(this.yscale)
                        .tickValues(d3.range(Math.ceil(this.yscale.domain()[0]), Math.floor(this.yscale.domain()[1]) + 1, 1))
                        .tickFormat(d3.format("d"))
                )
            }



            this.bins = this.histogram(datas);
            this.bars = this.svg.selectAll("rect").data(this.bins);

            this.bars
                .attr("transform", function (d) {
                    return "translate(" + Math.min(this.xscale(d.x0),this.xscale(d.x1)) + "," + this.yscale(d.length) + ")";
                }.bind(this))
                .attr("width", function (d) {
                    return Math.abs(this.xscale(d.x1) - this.xscale(d.x0));
                }.bind(this))
                .attr("height", function (d) {
                    return this.height - this.yscale(d.length);
                }.bind(this));
        }

        updateWindowSize() {
            this.width = document.getElementById('histo').clientWidth-this.margingraph.left-this.margingraph.right;
            this.height = document.getElementById('histo').clientHeight-this.margingraph.top-this.margingraph.bottom;
            this.containersvg.attr("width", this.width+this.margingraph.left+this.margingraph.right)
                .attr("height", this.height+this.margingraph.top+this.margingraph.bottom);
            this.svg.attr("width", this.width)
                .attr("height", this.height);
            this.update();
        }

        showLineAt(pace) {
            this.paceline = this.svg.append("line")
                .attr("class", "paceLine")  // assign a class to the line
                .style("stroke", "rgba(68,146,220,0.8)")  // color of the line
                .style("stroke-width", 10)  // thickness of the line
                .attr("x1", this.xscale(pace))  // x position of the start of the line
                .attr("y1", -5)  // y position of the start of the line (top of the chart area)
                .attr("x2", this.xscale(pace))  // x position of the end of the line
                .attr("y2", this.height+5);  // y position of the end of the line (bottom of the chart area)

                const sortedPaces = datas.map(d => d.pace).sort(d3.ascending);
                const rank = (d3.bisectLeft(sortedPaces, pace));// / sortedPaces.length * 100;
                const textRank = (rank<=sortedPaces.length/2)?"Top " + Math.round(((rank+1)/ sortedPaces.length * 100)) + "% Rank":"Bottom " + Math.round(100-(rank/ sortedPaces.length * 100)) + "% Rank";

            const textBackground = this.svg.append("rect")
                .attr("class", "percentileTextBackground");

            // Add the percentile as text on top of the SVG
            const percentileText = this.svg.append("text")
                .attr("class", "percentileText")
                .attr("x", this.width/2)
                .attr("y", this.height/2)
                .attr("text-anchor", "middle")
                .style("font-size", "14px")
                .style("fill", "black")
                .text(textRank);

            const bbox = percentileText.node().getBBox();
            textBackground
                .attr("x", bbox.x - 2)
                .attr("y", bbox.y - 2)
                .attr("width", bbox.width + 4)
                .attr("height", bbox.height + 4)
                .style("fill", "rgba(245, 245, 255, 0.6)");
        }

        removeLine() {
            this.svg.selectAll(".paceLine").remove();
            this.svg.selectAll(".percentileText").remove();
            this.svg.selectAll(".percentileTextBackground").remove();
        }
    }

    function highlight(id, scroll) {
        console.log("highlight");
        let circle = d3.select('#c'+id);
        circle.attr("r", 8)
            .style("fill", "rgba(68,146,220,0.42)");
        let row = document.getElementById('r'+id);
        console.log(row);
        if (scroll)
            document.getElementById('activitytable').scrollTo({top: row.offsetTop, behavior: 'smooth'});
        row.style.transition = 'all ease 2000ms';
        row.style.backgroundColor = "rgba(68,146,220,0.42)";
        var minfraction = datas.find(x => x.id === id).pace;
        var tooltipy = (document.getElementById('c'+id).getBoundingClientRect().top)+window.scrollY;
        var tooltipx = (document.getElementById('c'+id).getBoundingClientRect().left+22);
        tooltip
            .html(minFractionToString(minfraction)+(metric?" min/km":" min/mi"))
            .style("top", tooltipy+"px")
            .style("left",tooltipx+"px")
            .style("visibility", "visible");
        histo.showLineAt(minfraction);
    }

    function unhighlight(id) {
        let circle = d3.select('#c'+id);
        circle.attr("r", 5).style("fill", "white");
        let row = document.getElementById('r'+id);
        row.style.transition = 'all ease 500ms';
        row.style.backgroundColor = "white";
        tooltip.style("visibility", "hidden");
        histo.removeLine();
    }

    function clickactivity(id) {
        fetchgeojson(id, false);
    }

    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        graph.updateWindowSize();
        histo.updateWindowSize();
    }

    window.addEventListener("resize", function () {
        graph.updateWindowSize();
        histo.updateWindowSize();
    });

    var map;

    function prepareMap2d(jsonData, first_load) {
        if (first_load) {
            map = new maplibregl.Map({
                container: 'map2d',
                style: 'https://api.maptiler.com/maps/ch-swisstopo-lbm/style.json?key='+maptilerApiKey, // stylesheet location
                bounds: [[jsonData.properties.bbox.boundingBoxW - 0.005, jsonData.properties.bbox.boundingBoxS - 0.005], [jsonData.properties.bbox.boundingBoxE + 0.005, jsonData.properties.bbox.boundingBoxN + 0.005]],
                touchPitch: false,
                maxPitch: 0,
                minZoom: 10,
                maxZoom: 13,
                attributionControl: false
            });


            map.on('load', function () {
                map.addSource('route', {
                        type: 'geojson',
                        data: jsonData
                    }
                );
                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#ff8001',
                        'line-width': 3
                    }
                });
            });
        } else {
            map.addSource('route', {
                    type: 'geojson',
                    data: jsonData
                }
            );
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#ff8001',
                    'line-width': 3
                }
            });
        }
    }

    initData();
    settings();


    function saveEditBatch() {
        let editTitle = document.getElementById("inputTitleBatchRename").value;

        let data = {index: groupidstring, title: editTitle};

        fetch("../api/modify/matching/", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then(res => {
            res.json().then(response => {
                if (res.ok) {
                    document.getElementById("successmessageeditbatch").innerText = "Changes saved";
                    document.getElementById("successmessageeditbatch").style.display = "block";
                    location.reload();
                } else {
                    document.getElementById("errormessageeditbatch").innerText = response.response;
                    document.getElementById("errormessageeditbatch").style.display = "block";
                }
            });
        }).catch(error => {
            console.log("--error");
            console.log(error);
        });
    }

    async function deleteRow(rowid)
    {
        var row = document.getElementById("r"+rowid);
        row.style.transition = '0.8s';
        row.style.opacity = 0;
        await new Promise(resolve => setTimeout(resolve, 1000));
        row.parentNode.removeChild(row);
    }

    function updateGraph() {
        sequentialGraph = !sequentialGraph;
        if (sequentialGraph)
            document.getElementById("barGraphButton").innerText = "Sequential";
        else
            document.getElementById("barGraphButton").innerText = "By Date";
        graph.update();
    }

</script>

</body></html>