<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Matching Activities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
    <script src='../js/maplibre-gl.js'></script>
    <link href='../css/maplibre-gl.css' rel='stylesheet'/>
</head>
<body>
<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img class="me-2" src="/assets/logo.svg" width="30">CubeTrek</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img src="../assets/cubetrek_settings.svg" height="20px"></a>
    </ul>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='none')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
    </div>

    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><span id="entrysize"></span> Matching Activities</h1>
            </div>
            <div class="row" style="height: 35vh;">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1">
                    <h4 class="h4">Average Pace</h4>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                      <div class="p-0 m-0" id="graph" style="width: 100%; height: 100%; min-height: 60px;" ></div>
                    </div>
                    <div class="col-xl-4 ps-5">
                        <div class="row" id="map2d" style="height: 100%; width: 100%; min-height: 60px; min-width: 60px;"></div>
                        <div class="row" id="map2dlegend"></div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="errorbox" style="display:none;">
                Error fetching data
            </div>

            <div class="row pt-4" style="height: 45vh">

                <div id="activitytable" style="height: 45vh; overflow:auto;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th> Date </th>
                            <th> Title </th>
                            <th> Duration </th>
                            <th> Ascent </th>
                            <th> Distance </th>
                        </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()" checked="checked">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/d3.min.js"></script>
<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/
    var groupidstring = "[(${groupidstring})]";
    var matches = [(${matches})];
</script>
<script th:inline="none">
    var entries = [];
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;
    const tablebody = document.getElementById("tbody");

    function populateTable() { //clear everything and start downloading data
        while (tablebody.firstChild) {
            tablebody.removeChild(tablebody.firstChild);
        }
        listData();
    }

    function addRowInfo(row, entry) {
        row.insertCell().innerHTML = "<img src='../assets/"+icons[entry.activitytype][0]+"' alt='"+icons[entry.activitytype][1]+"' height=20px>";
        row.insertCell().innerHTML = (new Date(Date.parse(entry.datetrack))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
        row.insertCell().innerHTML = (entry.favorite?"<img src='../assets/icon_favorite_select.svg' height='15px'>":"") + "<a href='/view/"+entry.id+"'>"+entry.title+"</a>";
        row.insertCell().innerHTML = minToString(parseInt(entry.duration))+ " h";
        row.insertCell().innerHTML = (entry.elevationup*(metric?1:feet_per_m)).toFixed(0) + (metric?" m":" ft");
        row.insertCell().innerHTML = (parseFloat(entry.distance)/1000*(metric?1:miles_per_km)).toFixed(1) + (metric?" km":" mi");
        row.onmouseover = (event) => {highlight(entry.id, false)};
        row.onmouseout = (event) => {unhighlight(entry.id)};
        row.onclick = (event) => {clickactivity(entry.id, false)};
    }

    function initData() {
        for (var entry of matches) {
            entries.push(entry);
        }
        populateTable();
        drawGraph();
        fetchgeojson(entries[0].id, true);
        document.getElementById("entrysize").innerText = entries.length;
    }

    function fetchgeojson(trackid, reload) {
        var url = "/api/geojson/"+trackid+".geojson";

        if (!reload) {
            map.removeLayer('route');
            map.removeSource('route');
        }

        document.getElementById("map2dlegend").innerText = (new Date(Date.parse(entries.find(x => x.id === trackid).datetrack))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});

        fetch(url)
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    document.getElementById("errorbox").style.display = 'block';
                }
            })
            .then(geojson => {
                prepareMap2d(geojson, reload);
                }
            );


    }

    function listData() {
        for (const e of entries) {
            var newRow = tablebody.insertRow();
            newRow.id="r"+e.id;
            addRowInfo(newRow, e);
        }
    }

    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    function minFractionToString(minutes) {
        seconds = minutes*60;
        var sec = seconds % 60;
        var min = (seconds-sec)/60;
        return min.toString() + ":" + (sec<10?"0":"") + (sec.toFixed(0)).toString();
    }


    datas = [];
    var tooltip;

    function drawGraph() {
        let count = 0;
        for (const entry of entries) {
            datas.push({'id' : entry.id, 'xpos' : count++, 'pace' : ((entry.duration/entry.distance)*1000)*(metric?1:miles_per_km)});
        }

        this.width = document.getElementById('graph').clientWidth * 0.8;
        this.width = Math.max(500, this.width);
        margingraph = {top: 10, right: 30, bottom: 25, left: 40};

        width = document.getElementById('graph').clientWidth-this.margingraph.left-this.margingraph.right;
        height = document.getElementById('graph').clientHeight-this.margingraph.top-this.margingraph.bottom;

        // append the svg object to the body of the page
        d3.select("#graph").select("svg").remove(); //clear if exists already
        this.svg = d3.select("#graph")
            .append("svg")
            .attr("width", this.width + this.margingraph.left + this.margingraph.right)
            .attr("height", this.height + this.margingraph.top + this.margingraph.bottom)
            .append("g")
            .attr("transform",
                "translate(" + this.margingraph.left + "," + this.margingraph.top + ")");

        var xscale = d3.scaleLinear()
            .domain(d3.extent(datas, function(d) { return d.xpos}))
            .range([ width, 0]);

        var yscale = d3.scaleLinear()
            .domain(d3.extent(datas, function(d) { return d.pace}))
            .range([ 0, height ]);
        svg.append("g")
            .call(d3.axisLeft(yscale));

        tooltip = d3.select("body")
            .append("div")
            .style("position", "absolute")
            .style("z-index", "10")
            .style("visibility", "hidden")
            .style("background", "rgba(245, 245, 255, 0.6)");

        svg.append("path")
            .datum(datas)
            .attr("fill", "none")
            .attr("stroke", "#ff8001")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .curve(d3.curveBasis) // Just add that to have a curve instead of segments
                .x(function(d) { return xscale(d.xpos) })
                .y(function(d) { return yscale(d.pace) })
            )

        const minmax = d3.extent(datas, function(d) {return d.pace});

        svg
            .append("g")
            .selectAll("dot")
            .data(datas)
            .enter()
            .append("circle")
            .attr("id", function(d) { return "c"+d.id })
            .attr("cx", function(d) { return xscale(d.xpos) } )
            .attr("cy", function(d) { return yscale(d.pace) } )
            .attr("r", 5)
            .attr("stroke", "#101010")
            .attr("stroke-width", 1)
            .attr("fill", "white")
            .on("mouseover", function(e,i) {
                highlight(i.id, true);
            })
            .on("mouseout", function(d,i) {
                unhighlight(i.id);
            })
            .on("click", function(d,i) {
                clickactivity(i.id);
            })
            .filter(function(d) { return d.pace === minmax[0] || d.pace === minmax[1]} )
            .attr("stroke", "#fa7c7c")
            .attr("stroke-width", 3);

    }

    function highlight(id, scroll) {
        let circle = d3.select('#c'+id);
        circle.attr("r", 8)
            .style("fill", "rgba(68,146,220,0.42)");
        let row = document.getElementById('r'+id);
        if (scroll)
            document.getElementById('activitytable').scrollTo({top: row.offsetTop, behavior: 'smooth'});
        row.style.transition = 'all ease 2000ms';
        row.style.backgroundColor = "rgba(68,146,220,0.42)";
        var minfraction = datas.find(x => x.id === id).pace;
        var tooltipy = (document.getElementById('c'+id).getBoundingClientRect().top)+window.scrollY;
        var tooltipx = (document.getElementById('c'+id).getBoundingClientRect().left+22);
        tooltip
            .html(minFractionToString(minfraction)+(metric?" min/km":" min/mi"))
            .style("top", tooltipy+"px")
            .style("left",tooltipx+"px")
            .style("visibility", "visible");
    }

    function unhighlight(id) {
        let circle = d3.select('#c'+id);
        circle.attr("r", 5).style("fill", "white");
        let row = document.getElementById('r'+id);
        row.style.transition = 'all ease 500ms';
        row.style.backgroundColor = "white";
        tooltip.style("visibility", "hidden");
    }

    function clickactivity(id) {
        fetchgeojson(id, false);
    }

    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        populateTable();
        drawGraph();
    }

    window.addEventListener("resize", function () {
        drawGraph();
    });

    var map;

    function prepareMap2d(jsonData, reload) {
        if (reload) {
            map = new maplibregl.Map({
                container: 'map2d',
                style: 'https://api.maptiler.com/maps/ch-swisstopo-lbm/style.json?key=Nq5vDCKAnSrurDLNgtSI', // stylesheet location
                bounds: [[jsonData.properties.bbox.boundingBoxW - 0.005, jsonData.properties.bbox.boundingBoxS - 0.005], [jsonData.properties.bbox.boundingBoxE + 0.005, jsonData.properties.bbox.boundingBoxN + 0.005]],
                touchPitch: false,
                maxPitch: 0,
                minZoom: 10,
                maxZoom: 13,
                attributionControl: false
            });


            map.on('load', function () {
                map.addSource('route', {
                        type: 'geojson',
                        data: jsonData
                    }
                );
                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#ff8001',
                        'line-width': 3
                    }
                });
            });
        } else {
            map.addSource('route', {
                    type: 'geojson',
                    data: jsonData
                }
            );
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#ff8001',
                    'line-width': 3
                }
            });
        }
    }

    settings();
    initData();

</script>

</body></html>