<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <title>CubeTrek - Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:replace="dashboard.html :: header">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='profile')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Profile</h1>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Settings</h4>
            </div>

            <div>
                <div th:text="${user.getName()}"></div>
            </div>

            <div>
                <div th:text="${user.getEmail()}"></div>
            </div>

            <div>
                <div th:text="${user.getTimezone()}"></div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Linked Third-Party Accounts</h4>
            </div>
            <div>
                Link Accounts to automatically sync your activities to <strong>CubeTrek</strong>.
            </div>

            <div class="card m-2 mt-4" style="width: 18rem;">
                <img src="/assets/connect_logo_blue.png" class="card-img-top" alt="Garmin Connect Logo">
                <div class="card-body">
                    <h5 class="card-title">Garmin Connect</h5>
                    <p class="card-text">Link your Garmin devices to CubeTrek</p>
                    <a th:if="${isGarminConnected}" href="/profile/connectGarmin-step1" class="badge bg-primary">✅ Garmin Account is linked</a>
                    <a th:unless="${isGarminConnected}" href="/profile/connectGarmin-step1" class="badge bg-secondary">No Garmin Account linked</a>
                    <div th:unless="${isGarminConnected}"><a href="/profile/connectGarmin-step1">Click to link</a></div>
                    <div th:if="${isGarminConnected}"><a href="/profile/connectGarmin-step1">Change</a></div>
                </div>
            </div>



        </main>
    </div>
</div>

</body>
</html>