<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <title>CubeTrek - Profile</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<header th:replace="dashboard.html :: header">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='profile')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Profile</h1>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
                <h4 class="h4">Settings</h4>
            </div>

            <form action="/profile" th:object="${user}" method="POST" enctype="utf8">
                <div class="col-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="username-label">User name</span>
                        <input type="text" id="username" th:field="*{name}" class="form-control" aria-label="Username" aria-describedby="username-label" onchange="enableButton()">
                    </div>
                    <p class="alert alert-warning" role="alert" th:each="error: ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="email-label">Email</span>
                        <input type="text" id="email" th:field="*{email}" class="form-control" aria-label="Username" aria-describedby="email-label" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Sharing</span>
                        <div class="form-control">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" th:field="*{sharing}" value="PRIVATE" onchange="enableButton()">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Private - <i>Tracks can only be viewed by me</i>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  th:field="*{sharing}" value="PUBLIC" onchange="enableButton()">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Public - <i>Tracks are visible for everyone</i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        Note: Sharing settings affect only future uploaded tracks. Settings can be changed individually for each track.
                    </div>

                    <button class="col-4 btn btn-primary mt-2" type="submit" id="savechange" disabled>Save Changes</button>
                </div>
            </form>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-4">
                <h4 class="h4">Linked Third-Party Accounts</h4>
            </div>
            <div>
                Link Accounts to automatically sync your activities to <strong>CubeTrek</strong>.<br>
                Any future activities will be downloaded to your CubeTrek account. However, past activities cannot be
                synced this way, <a href="/static/bulkdownload.html">but there are other ways</a>.
            </div>

            <div class="card m-2 mt-4" style="width: 18rem; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#garminModal">
                <img src="/assets/connect_logo_blue.png" class="card-img-top" alt="Garmin Connect Logo">
                <div class="card-body">
                    <h5 class="card-title">Garmin Connect</h5>
                    <p class="card-text">Link your Garmin devices to CubeTrek</p>
                    <div th:if="${isGarminConnected}" class="badge bg-primary">✅ Garmin Account is linked</div>
                    <div th:unless="${isGarminConnected}" class="badge bg-secondary">No Garmin Account linked</div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>


<!-- Modal -->
<div class="modal fade" id="garminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Garmin Connect</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You will be redirected to the Garmin Connect website.
                <img class="img-thumbnail" width="300px" src="/assets/connect_screenshot.png"><br>
                Make sure to set "Activities" sharing to green/enabled and click "Save".
            </div>
            <div class="modal-footer">
                <a href="/profile/connectGarmin-step1" type="button" class="btn btn-primary">Go To Garmin Connect</a>
            </div>
        </div>
    </div>
</div>


<script>
    function enableButton() {
        document.getElementById('savechange').disabled=false;
    }
</script>
</html>