<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img class="me-2" width="40" src="../assets/logo.svg">
            <span class="fs-4">CubeTrek</span>
        </a>
    </header>

    <main>
        <h1 class="fw-light text-center pb-5">Sign Up for a <strong>CubeTrek</strong> Account</h1>
    <form action="/registration" th:object="${user}" method="POST" enctype="utf8">

        <div class="row g-3">
            <div class="col-sm-6">

                <label for="name" class="form-label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="" value="" required="">
                <p class="alert alert-warning" role="alert" th:each="error: ${#fields.errors('name')}"
                   th:text="${error}">Validation error</p>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="you@example.com">
                <p class="alert alert-warning" role="alert" th:each="error : ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
                <div class="invalid-feedback">
                    Valid Email is required.
                </div>

                <input th:field="*{timezone}" type="hidden" id="timezone" value="Etc/UTC">
                <input th:field="*{metric}" type="hidden" id="metric" value="true">
            </div>

            <div class="col-6">
                <label for="password" class="form-label">Password</label>
                <input th:field="*{password}" type="password" class="form-control" id="password">
                <p class="alert alert-warning" role="alert" th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
        </div>
        <button class="col-6 btn btn-lg btn-primary mt-5" type="submit">submit</button>
    </form>
        <div class="pt-3">
        Already registered?    <a th:href="@{/login.html}">Login</a>
        </div>

    </main>
</div>
</body>
<script>
    document.getElementById("timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.getElementById("metric").value = (localStorage.getItem("metric") === null || localStorage.getItem("metric"));
</script>
</html>