<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${trackmetadata.title + ' - CubeTrek'}"></title>
    <link rel="icon" type="image/svg" href="../assets/logo.svg">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css " rel="stylesheet">
    <link href=" ../css/dashboard.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/maplibre-gl@4.1.2/dist/maplibre-gl.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/maplibre-gl@4.1.2/dist/maplibre-gl.min.css" rel="stylesheet">
    <script src=" https://cdn.jsdelivr.net/npm/d3-regression@1.3.10/dist/d3-regression.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7/dist/d3.min.js"></script>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" th:content="${trackmetadata.title}" />
    <meta property="og:description" th:content="${trackmetadata.activitytype.getDisplayValue() + ' Activity by '+ owner + ' on ' + dateCreatedString}" />
    <meta property="og:image" th:content="${'https://cubetrek.com/api/static_map_download/'+trackmetadata.id+'/600x315.png'}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" th:content="${'https://cubetrek.com/view2d/'+trackmetadata.id}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CubeTrek" />

<style>
    .marker2d {
        display: block;
        border: none;
        border-radius: 50%;
        background-color: rgba(68, 146, 220, 0.42);
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding: 0;
    }
</style></head>

<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 m-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="${isLoggedIn} ? '../dashboard':'../'">← <img src="/assets/logo.svg" width="30px" alt="CubeTrek"></a>
    <div class="navbar-brand col-auto me-0 px-3 lead"  th:text="${trackmetadata.title}">
    </div>
    <ul class="navbar-nav px-3">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">
            <img height="20px" src="../assets/cubetrek_settings.svg"></a>
    </ul>
</header>

<div class="progress" id="progressdiv">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progressbar" style="width: 100%"></div>
</div>
<div class="alert alert-danger" style="display: none;" id="errormessage" role="alert">
    Error Message
</div>
<div th:unless="${isLoggedIn}" class="alert alert-primary alert-dismissible fade show m-0 p-2" role="alert">
    Welcome Stranger. <a href="/signin" class="alert-link">Sign in</a> or <a href="/registration" class="alert-link">Register for an account</a>
    <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div th:if="${tracktoobig}" class="alert alert-info" id="tracktoobigmessage" role="alert">
    Track covers area above 100km x 100km, this is currently too large for 3D view
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 p-0 position-relative" style="height: 50vh; min-height: 500px">
            <div id="map2d" style="height: 100%; width: 100%; min-width: 100px;"></div>
            <div class="btn-group-vertical position-absolute top-0 start-0 p-3" role="group" id="mapstyle">
                <input type="radio" class="btn-check" name="btnradio" id="map2dBtnradioStandard" autocomplete="off" checked="checked">
                <label class="btn btn-outline-danger" for="map2dBtnradioStandard">Map</label>
                <input type="radio" class="btn-check" name="btnradio" id="map2dBtnradioTopo" autocomplete="off">
                <label class="btn btn-outline-danger" for="map2dBtnradioTopo">Topo</label>
                <input type="radio" class="btn-check" name="btnradio" id="map2dBtnradioSat" autocomplete="off">
                <label class="btn btn-outline-danger" for="map2dBtnradioSat">Satellite</label>
            </div>
            <div th:unless="${tracktoobig}" class="btn-group-vertical position-absolute bottom-0 start-0 p-3">
                <a th:href="${'../replay/'+trackmetadata.id}" class="btn btn-outline-primary btn-sm">3D Replay</a>
                <a th:href="${'../view/'+trackmetadata.id}" class="btn btn-outline-primary btn-sm">Classic 3D</a>
            </div>
        </div>

        <div class="col-xl-4 d-flex flex-xl-column p-0">
            <div class="d-flex flex-fill w-100 flex-column p-0 m-0" style="height: 25vh; min-height: 250px">
                <div class="flex-grow-1 p-0 m-0" id="graph" style="width:100%"></div>
                <div class="d-flex flex-row justify-content-end p-0 pb-1 me-2 m-0">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdowngraphyaxis" data-bs-toggle="dropdown" aria-expanded="false">Elevation</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="graphYDistance">Distance</a></li>
                            <li><a class="dropdown-item" href="#" id="graphYElevation" >Elevation</a></li>
                            <li th:if="${hasHeartrate && ownerIsSupporter}"}><a class="dropdown-item" href="#" id="graphYHeartrate" >Heartrate</a></li>
                            <li><a class="dropdown-item" href="#" id="graphYHorizontalspeed" >Horizontal Speed</a></li>
                            <li><a class="dropdown-item" href="#" id="graphYVerticalspeed" >Vertical Speed</a></li>
                        </ul>
                    </div>
                    <div class="p-1">versus</div>
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdowngraphxaxis" data-bs-toggle="dropdown" aria-expanded="false">Distance</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="graphXElapsedtime">Elapsed Time</a></li>
                            <li><a class="dropdown-item" href="#" id="graphXMovingtime">Moving Time</a></li>
                            <li><a class="dropdown-item" href="#" id="graphXDistance">Distance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-fill w-100" style="height: 25vh; min-height: 250px">
                <div id="heartratediv" th:if="${hasHeartrate}" class="mt-5 d-flex flex-column flex-grow-1" style="max-height:15vh;">
                    <div th:if="${ownerIsSupporter}" class="row flex-grow-1">
                        <div class="col d-flex align-items-center justify-content-center" id="heartrateDonut"></div>
                        <div class="col d-flex flex-column justify-content-center">
                            <h5 class="h5"><small class="text-muted fw-light">Heart Rate Average</small>
                                <div id="heartrate_average">...</div>
                            </h5>
                            <h5 class="h5"><small class="text-muted fw-light">Heart Rate Max</small>
                                <div id="heartrate_max">...</div>
                            </h5>
                        </div>
                    </div>
                    <div th:unless="${ownerIsSupporter}" class="row">
                        <div class="mt-2 d-flex flex-row h-50 justify-content-center align-items-center text-center" onclick="window.location='/subscribe';">
                                <span>
                                    🧡 Heart rate data is currently in testing phase for 🏆
                                    <a href="/subscribe">subscribers</a>.<br>Become a subscriber or check back later.
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-5">
            <div class="card p-0 mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <a id="favoritelink" th:if="${writeAccess}" href="#" title="Click to Favorite/Unfavorite"><img
                                    id="favoritestar"
                                    th:src="${trackmetadata.favorite} ? '../assets/icon_favorite_select.svg':'../assets/icon_favorite_unselect.svg'"
                                    height="20px"></a>
                            <span th:if="${trackmetadata.hidden}" class="badge bg-warning text-dark">Hidden Track</span>
                            <button id="sharebutton" type="button" class="btn btn-outline-primary btn-sm ms-3 align-middle">
                                <img id="publicicon" th:style="${trackmetadata.sharing == T(com.cubetrek.database.TrackData.Sharing).PUBLIC ? 'display:inline' : 'display:none'}"
                                                                src="../assets/icon_public.svg" height="15px"> Share
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row pb-2">
                        <div class="figure-caption">[[${datetimeCreatedString}]]</div>
                        <div class="display-6"
                             th:attr="data-bs-toggle=${writeAccess?'modal':''}, data-bs-target=${writeAccess?'#editModal':''}"
                             th:attrappend="onmouseout=${writeAccess?'document.getElementById(''edittitle'').style.visibility = ''hidden'';':''}, onmouseover=${writeAccess?'document.getElementById(''edittitle'').style.visibility = ''visible'';':''}"
                        >
                            <img height="50px" th:src="${'../assets/'+trackmetadata.activitytype.getIconName()}"
                                 th:title="${trackmetadata.activitytype.getDisplayValue()}"><span th:text="${trackmetadata.title}"></span>
                            <img th:if="${writeAccess}" style="visibility:hidden" id="edittitle" height="20px"
                                 src="../assets/cubetrek_modify.svg">
                        </div>
                        <div th:unless="${writeAccess}" class="fw-light">Athlete: [[${owner}]] <span th:if="${ownerIsSupporter}" class="badge text-bg-primary" title="This outstanding athlete supports CubeTrek by subscribing!">🏆 Supporter</span></div>
                        <div>
                            <a th:if="${writeAccess && trackmetadata.trackgroup != null}" type="button" class="btn btn-outline-secondary btn-sm ms-3 align-middle" th:href="${'/matching/'+trackmetadata.trackgroup}"><img src="../assets/matched.svg" height="20px"> View Matching Activities</a>
                            <a th:if="${writeAccess}" type="button" class="btn btn-outline-secondary btn-sm ms-3 align-middle" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal">Edit Track</a>
                        </div>
                    </div>

                    <div class="row">
                        <h4 class="h4 col"><small class="text-muted fw-light">Distance</small>
                            <div id="value_distance">[[${trackmetadata.distance}]] m</div>
                        </h4>
                        <h4 class="h4 col"><small class="text-muted fw-light">Elevation↑</small>
                            <div id="value_elevation_up">[[${trackmetadata.elevationup}]] km</div>
                        </h4>
                    </div>
                    <div class="row">
                        <h4 class="h4 col"><small class="text-muted fw-light">Elapsed/Moving Time</small>
                            <div id="value_time">[[${timeString}]] h / <span id="movingtime">---</span> h</div>
                        </h4>
                        <h4 class="h4 col"><small class="text-muted fw-light">Elevation↓</small>
                            <div id="value_elevation_down">[[${trackmetadata.elevationdown}]]</div>
                        </h4>
                    </div>
                    <div class="row pb-2">
                        <h4 class="h4 col"><small class="text-muted fw-light">Highest Point</small>
                            <div id="value_highest_point">[[${trackmetadata.highestpoint}]]</div>
                        </h4>
                        <h4 class="h4 col"><small class="text-muted fw-light">Lowest Point</small>
                            <div id="value_lowest_point">[[${trackmetadata.lowestpoint}]]</div>
                        </h4>
                    </div>
                    <div class="row">
                        <h4 class="h4 col"><small class="text-muted fw-light">Average Speed</small></h4>
                    </div>
                    <div class="row">
                        <h5 class="h5 col"><small class="text-muted fw-light">Horizontal→</small>
                            <div id="value_horizontal_average">...</div>
                        </h5>
                        <h5 class="h5 col"><small class="text-muted fw-light">Vertical↑</small>
                            <div id="value_vertical_up_average">...</div>
                        </h5>
                        <h5 class="h5 col"><small class="text-muted fw-light">Vertical↓</small>
                            <div id="value_vertical_down_average">...</div>
                        </h5>
                    </div>
                    <div class="row">
                        <h5 class="h5 col"><small class="text-muted fw-light">Pace</small>
                            <div id="value_pace_average">...</div>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card p-0 mt-3" th:attr="onmouseover=${writeAccess?'document.getElementById(''editnote'').style.visibility = ''visible'';':''}"
                 th:attrappend="onmouseout=${writeAccess?'document.getElementById(''editnote'').style.visibility = ''hidden'';':''}">
                <div class="card-header">
                    Notes <img th:if="${writeAccess}" style="visibility:hidden" id="editnote" height="15px"
                               src="../assets/cubetrek_modify.svg">
                </div>
                <div th:if="${writeAccess}" class="card-body" data-bs-toggle="modal" data-bs-target="#editNoteModal"
                     th:utext="${#strings.isEmpty(trackmetadata.comment) ? '<i>No Notes, click to Add</i>' : formattedNote}">
                </div>
                <div th:unless="${writeAccess}" class="card-body"
                     th:utext="${#strings.isEmpty(trackmetadata.comment) ? '<i>No Notes</i>' : formattedNote}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img width="30" src="../assets/logo.svg">
            </a>
            <span class="text-muted">© 2022-2025 CubeTrek.com</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <span class="text-muted">Map Data Courtesy of © MapTiler © OpenStreetMap contributors<br>
            Elevation Data Courtesy of &copy;  NASA SRTM V003</span>
        </ul>
    </footer>
</div>




<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 th:if="${writeAccess}">View Settings</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>
                <div th:if="${writeAccess}">
                    <hr>
                    <h5>Track Settings</h5>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="favoriteChecked"
                               th:checked="${trackmetadata.favorite}">
                        <label class="form-check-label" for="favoriteChecked">Favorite</label>
                    </div>
                    <button type="button" class="btn btn-secondary btn-sm"
                            onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editModal')).show(); bootstrap.Modal.getOrCreateInstance(document.getElementById('settingsModal')).hide(); ">
                        Edit Title and Type
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm"
                            onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('editNoteModal')).show(); bootstrap.Modal.getOrCreateInstance(document.getElementById('settingsModal')).hide(); ">
                        Edit Notes
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm"
                            onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('recalculateHeight')).show(); bootstrap.Modal.getOrCreateInstance(document.getElementById('settingsModal')).hide(); ">
                        Recalculate Elevation
                    </button>
                    <div>
                    <a type="button" class="btn btn-light btn-sm mt-3" th:href="${'/download/'+trackmetadata.id}">
                        Download Original File
                    </a>
                    </div>
                    <h6 class="mt-3">Privacy</h6>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" id="publicChecked"
                               th:checked="${trackmetadata.sharing== T(com.cubetrek.database.TrackData.Sharing).PUBLIC}">
                        <label class="form-check-label" for="publicChecked" id="publicCheckedLabel"
                               th:text="${trackmetadata.sharing== T(com.cubetrek.database.TrackData.Sharing).PUBLIC ? 'Public, anyone with the link can view this track' : 'Private, only you can view this track'}">Public</label>
                    </div>
                    <h6 class="mt-3">Hide or Delete Track</h6>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" id="hiddenChecked"
                               th:checked="${trackmetadata.hidden}">
                        <label class="form-check-label" for="hiddenChecked">Hide Track</label>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" id="deleteTrack">Delete Track
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${writeAccess}" class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Track Name and Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessageedit" role="alert">
                </div>
                <div class="alert alert-success" style="display: none;" id="successmessageedit" role="alert">
                </div>
                <form>
                    <div class="mb-3">
                        <label for="inputTitle" class="form-label">Track Title</label>
                        <input type="text" class="form-control" id="inputTitle" th:value="${trackmetadata.title}"
                               maxlength="250">
                    </div>
                    <div class="mb-3">
                        <label for="inputType" class="form-label">Track Type</label>

                        <select class="form-select" id="inputType">
                            <option th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"
                                    th:value="${activityOpt}"
                                    th:text="${activityOpt.displayValue}"
                                    th:selected="${activityOpt==trackmetadata.activitytype}"
                            ></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveEditButton">Save</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${writeAccess}" class="modal fade" id="editNoteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessagenoteedit" role="alert">
                    A simple danger alert—check it out!
                </div>
                <form>
                    <div class="mb-3">
                        <textarea class="form-control" id="inputComment" rows="10"
                                  th:text="${trackmetadata.comment}"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div>Use markdown for formatting</div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveEditButton2">Save</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${writeAccess}" class="modal fade" id="recalculateHeight" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recalculate Elevation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none;" id="errormessagerecalculateHeight" role="alert">
                </div>
                <p>Discard your elevation data and recalculate from the height model.</p>
                <p>Note that elevation data from devices with barometers are usually more accurate.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="recalculateHeightButton">Recalculate</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${writeAccess}" class="modal" id="confirmhidden" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hide Track</h5>
            </div>
            <div class="modal-body">
                <p>Hiding a track will exclude it from the Dashboard and your totals.</p>
                <p>The only way to view hidden tracks later on is through the designated link on the dashboard.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('settingsModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="hideTrackButton">Hide Track</button>
            </div>
        </div>
    </div>
</div>

<div th:if="${writeAccess}" class="modal" id="confirmdelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Track</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Track?</p>
                <p>This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="bootstrap.Modal.getOrCreateInstance(document.getElementById('settingsModal')).show();">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="deleteTrackButton">Delete Track</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="sharemodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share Track</h5>
            </div>
            <div class="modal-body">
                <div th:style="${trackmetadata.sharing== T(com.cubetrek.database.TrackData.Sharing).PUBLIC ? 'display:block' : 'display:none'}"
                     id="publicSet">
                    <p>Anyone with the link can view this track.</p>
                    <input type="text" class="form-control" id="sharelink" readonly>
                    <button type="button" class="btn btn-primary m-2" id="copylinktoclipboard">Copy</button>
                    <div class="alert alert-primary m-2" style="visibility:hidden" role="alert" id="sharelinkalert">
                        Link copied to clipboard!
                    </div>

                </div>
                <div th:style="${trackmetadata.sharing != T(com.cubetrek.database.TrackData.Sharing).PUBLIC ? 'display:block' : 'display:none'}"
                     id="privateSet">
                    <p>If you share this track, anyone with the link can view it.</p>
                    <button type="button" class="btn btn-primary m-2" id="trackShareButton">Set Track to
                        Public
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var maptilerApiKey = [[${maptilerApiKey}]];
    /*]]>*/
</script>

<script th:if="${heartrateZones != null}" th:inline="javascript">
    var heartrateZones = [(${heartrateZones})];
</script>


<script>
    const sharedObjects = {
        metric : true,
        trackid : [[${trackmetadata.id}]],
        distance : [[${trackmetadata.distance}]],
        elevationUp : [[${trackmetadata.elevationup}]],
        elevationDown : [[${trackmetadata.elevationdown}]],
        highestElevationPoint : [[${trackmetadata.highestpoint}]],
        lowestElevationPoint : [[${trackmetadata.lowestpoint}]],
        favorite : [[${trackmetadata.favorite}]],
        hidden : [[${trackmetadata.hidden}]],
        sharing : "[[${trackmetadata.sharing}]]",
        root : "../api/",
    }
</script>
<script type="module" src="../js/main.js">
</script>
</body></html>