<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/svg" href="/assets/logo.svg">
    <title>CubeTrek - TrekMapper</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css " rel="stylesheet">
    <link href="../css/dashboard.css" rel="stylesheet">
    <script src=" https://cdn.jsdelivr.net/npm/maplibre-gl@3.1.0/dist/maplibre-gl.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/maplibre-gl@3.1.0/dist/maplibre-gl.min.css " rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/d3@7/dist/d3.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@turf/turf@6.5.0/turf.min.js "></script>
</head>
<body>
<header th:replace="~{dashboard.html :: header}">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="dashboard.html :: navigation(field='activitymap')" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </nav>
    </div>

    <div class="row" style="height: 100vh;">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-0">
            <div th:if="${numberEntries==0}" class="card m-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your Profile is empty 😔</h5>
                    <p class="card-text">Add your Tracks to get started. Upload your files, link your Garmin and Polar account.</p>
                    <a href="/upload" class="btn btn-primary m-1">Upload Activity Files</a>
                    <a href="/profile" class="btn btn-primary m-1">Link Accounts</a>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="errorbox" style="display:none;">
                Error fetching data
            </div>

            <div class="position-relative" style="height: 100%; min-height: 500px">
                <div id="map" style="height: 100%; width: 100%; min-width: 100px;"></div>
                <div th:unless="${numberEntries==0}" class="dropdown position-absolute top-0 start-0 p-0 m-4">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownfilter"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        All Activities: [(${numberEntries})]
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" id="btnradio1" onclick="filter('none')">All Activities: [(${numberEntries})]</a></li>
                        <th:block th:each="act : ${activityCounts}">
                            <li><a class="dropdown-item" href="#" th:id="|radio${act.activitytype}|" th:onclick="|filter(${act.activitytype.ordinal()})|" th:text="|${act.activitytype.displayValue}: ${act.count}|">Radio</a></li>
                        </th:block>
                    </ul>
                </div>

                <div class="card col-xxl-2 position-absolute top-0 end-0 p-0 m-4" id="act_card" style="display: none">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <img id="act_icon" width="25px" /> <span id="act_title">Activity Title</span>
                        </div>
                        <button type="button" class="btn-close" aria-label="Close" onclick="deselectTrack()"></button>
                    </div>
                    <div class="card-body">
                        <div class="card-text" id="act_date">
                            Activity date
                        </div>
                    </div>
                    <div class="card-footer">
                        <a id="act_button" class="btn btn-primary btn-sm" href="#">3D View</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="metricChecked" onclick="clickSettingsMetric()">
                    <label class="form-check-label" for="metricChecked" id="metricCheckedLabel">Metric Units</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var maptilerApiKey = [[${maptilerApiKey}]];
    /*]]>*/
</script>

<script th:inline="javascript">
    var icons = {};
    /*[# th:each="activityOpt : ${T(com.cubetrek.database.TrackData.Activitytype).values()}"]*/
    icons[ /*[[${activityOpt}]]*/ ] =[ /*[[${activityOpt.iconName}]]*/ , /*[[${activityOpt.displayValue}]]*/ ];
    /*[/]*/

    var numberActivityEntries = {};
    /*[# th:each="act : ${activityCounts}"]*/
    numberActivityEntries[ /*[[${act.activitytype}]]*/ ] =[ /*[[${act.count}]]*/];
    /*[/]*/

    const activitiesposition = [(${activitiesPosition})];

</script>

<script>
    const totalEntries = [(${numberEntries})];
    let metric = true;
    const miles_per_km = 0.621371;
    const feet_per_m = 3.28084;
    var numberEntries;
    var filterBy = "none";
</script>

<script th:inline="none">
    let data = {
        "type": "FeatureCollection",
        "features": [

        ]};

    let mapZoom = 1;
    let mapCenter = [0,0];

    let geojsonfeatures = [];
    let map;

    settings();
    function initData() {
        data = {
            "type": "FeatureCollection",
            "features": []
        };

        if (filterBy === "none")
            numberEntries = totalEntries;
        else {
            numberEntries = numberActivityEntries[filterBy][0]
        }

        for (var entry of activitiesposition) {
            if (filterBy === "none")
                data.features.push({
                    "type": "Feature",
                    "properties": { "id": entry.id, "title": entry.title, "activitytype" : entry.activitytype, "trackgroupentrycount": entry.trackgroupentrycount},
                    "geometry": { "type": "Point", "coordinates": [ entry.longitude, entry.latitude, 0.0 ] }
                });
            else {
                if (entry.activitytype === filterBy)
                    data.features.push({
                        "type": "Feature",
                        "properties": { "id": entry.id, "title": entry.title, "activitytype" : entry.activitytype, "trackgroupentrycount": entry.trackgroupentrycount},
                        "geometry": { "type": "Point", "coordinates": [ entry.longitude, entry.latitude, 0.0 ] }
                    });
            }
        }
    }

    function minToString(minutes) {
        var m = minutes % 60;
        var h = (minutes-m)/60;
        return h.toString() + ":" + (m<10?"0":"") + m.toString();
    }

    function settings() {
        if (localStorage.getItem("metric") === null) {
            localStorage.setItem("metric", true);
        } else {
            metric = (localStorage.getItem("metric")==="true");
        }

        if (metric) {
            document.getElementById("metricChecked").checked = true;
            setMetric();
        } else {
            document.getElementById("metricChecked").checked = false;
            setMetric();
        }
    }

    function clickSettingsMetric() {
        metric = document.getElementById("metricChecked").checked;
        localStorage.setItem("metric",metric);
        setMetric();
    }

    function setMetric() {
        document.getElementById("metricCheckedLabel").innerText=(metric?"Metric Units":"Imperial Units");
        initData();
        prepareMap();
    }

    function filter(value) {
        deselectTrack();
        if (value ==="none") {
            filterBy = "none";
            document.getElementById("dropdownfilter").innerText="All Activities";
        }
        else {
            filterBy = Object.keys(icons)[value];
            document.getElementById("dropdownfilter").innerText=Object.values(icons)[value][1];
        }
        loadedTracks = new Set();
        geojsonfeatures = [];
        data = {
            "type": "FeatureCollection",
            "features": []};
        initData();
        map.getSource('activities').setData(data);

        map.getSource('tracks').setData({
                type: 'FeatureCollection',
                features: geojsonfeatures
            });

        if (map.getZoom()>8)
            map.easeTo({zoom: 8});
    }

    function prepareMap() {
        map = new maplibregl.Map({
            container: 'map',
            style: 'https://api.maptiler.com/maps/ch-swisstopo-lbm/style.json?key='+maptilerApiKey,
            center: [0,0],
            zoom: 1,
            touchPitch: false,
            maxPitch: 0,
            minZoom: 0,
            maxZoom: 13,
            attributionControl: false
        });

        map.dragRotate.disable();
        map.touchZoomRotate.disableRotation();

        map.on('load', function () {
            // Add a new source from our GeoJSON data and
            // set the 'cluster' option to true. GL-JS will
            // add the point_count property to your source data.
            map.addSource('activities', {
                type: 'geojson',
                data: data
            });


            map.addLayer(
                {
                    'id': 'heatmap',
                    'type': 'heatmap',
                    'source': 'activities',
                    'maxzoom': 9,
                    'paint': {
// Increase the heatmap weight based on frequency and property magnitude
                        'heatmap-weight': [
                            'interpolate',
                            ['linear'],
                            ['get', 'trackgroupentrycount'],
                            0, 0,
                            4, 1
                        ],
// Increase the heatmap color weight by zoom level
// heatmap-intensity is a multiplier on top of heatmap-weight
                        'heatmap-intensity': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            0, 1,
                            9, 3
                        ],
// Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
// Begin color ramp at 0-stop with a 0-transparancy color
// to create a blur-like effect.
                        'heatmap-color': [
                            'interpolate',
                            ['linear'],
                            ['heatmap-density'],
                            0,
                            'rgba(255,255,204,0)',
                            0.2,
                            "rgb(254, 224, 135)" ,
                            0.4,
                            'rgb(254, 171, 75)',
                            0.6,
                            'rgb(250, 92, 46)',
                            0.8,
                            'rgb(211, 17, 33)',
                            1,
                            'rgb(128, 0, 38)'
                        ],
// Adjust the heatmap radius by zoom level
                        'heatmap-radius': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            1, 10,
                            9, 20
                        ],
// Transition from heatmap to circle layer by zoom level
                        'heatmap-opacity': [
                            'interpolate',
                            ['linear'],['zoom'],
                            7.5, 1,
                            9, 0
                        ]
                    }
                }
            );

            map.addSource('mouseover-source', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: []
                    }
                }
            );

            map.addSource('tracks', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: geojsonfeatures
                    }
                }
            );

            map.addLayer({
                id: 'tracks-layer',
                type: 'line',
                source: 'tracks',
                minzoom: 8,
                layout: {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                paint: {
                    'line-color': [
                        'case',
                        ['has', 'color'],
                        ['get', 'color'],
                        '#ff8001' // fallback color if the feature does not have a color property
                    ],
                    'line-width': [
                        'case',
                        ['has', 'width'],
                        ['get', 'width'],
                        3 // fallback color if the feature does not have a color property
                    ]
                }
            });

            map.addLayer({
                id: 'mouseover-layer',
                type: 'line',
                source: 'mouseover-source',
                minzoom: 3,
                layout: {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                paint: {
                    'line-color': 'rgba(143,122,229,0.44)',
                    'line-width': 6
                }
            });

            map.addSource('selected-source', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: []
                    }
                }
            );

            map.addLayer({
                id: 'selected-layer',
                type: 'line',
                source: 'selected-source',
                minzoom: 3,
                layout: {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                paint: {
                    'line-color': 'rgb(0,130,255)',
                    'line-width': 4
                }
            });

            map.on('moveend', function() {
                if (map.getZoom() < 8) {
                    deselectTrack();
                }

                if (map.getZoom() > 5
                ) {
                    const bounds = map.getBounds();
                    const boundingBox = [
                        bounds.getWest(),
                        bounds.getSouth(),
                        bounds.getEast(),
                        bounds.getNorth()
                    ];
                    const boundingBoxPolygon = turf.bboxPolygon(boundingBox);
                    const featuresWithinBoundingBox = turf.pointsWithinPolygon(data, boundingBoxPolygon);

                    for (var feature of featuresWithinBoundingBox.features) {
                        fetchgeojson(feature.properties.id);
                    }
                }
            });
        });

        map.on('click', function (e) {
            if (map.getZoom()<8)
                return;
            const boundingSize = 50;
            const boundingBox = [
                [e.point.x - boundingSize, e.point.y - boundingSize],
                [e.point.x + boundingSize, e.point.y + boundingSize]
            ];

            var features = map.queryRenderedFeatures(boundingBox, {
                layers: ['tracks-layer']
            });

            if (features.length < 1)
                return;

            var closestFeature = findClosestLineString(turf.point([e.lngLat.lng, e.lngLat.lat]), features);

            if (closestFeature.properties.name !== undefined) {
                document.getElementById("act_card").style.display = "block";
                document.getElementById("act_title").innerText = closestFeature.properties.name;
                var stringdate = (new Date(Date.parse(closestFeature.properties.date))).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
                if (closestFeature.properties.trackgroup === undefined) {
                    document.getElementById("act_date").innerText = stringdate;
                    document.getElementById("act_button").innerText = "3D View";
                    document.getElementById("act_button").setAttribute("href", "/view/"+closestFeature.properties.id);
                }
                else {
                    document.getElementById("act_date").innerHTML = closestFeature.properties.trackgroupentrycount +" Activities; Most recent:<br>" + stringdate;
                    document.getElementById("act_button").innerText = "Show All Activities";
                    document.getElementById("act_button").setAttribute("href", "/matching/"+closestFeature.properties.trackgroup);
                }
                if (closestFeature.properties.activitytype===undefined) {
                    document.getElementById("act_icon").setAttribute("src", "../assets/" + icons['Unknown'][0]);
                    document.getElementById("act_icon").setAttribute("alt", icons['Unknown'][1]);
                } else {
                    document.getElementById("act_icon").setAttribute("src", "../assets/" + icons[closestFeature.properties.activitytype][0]);
                    document.getElementById("act_icon").setAttribute("alt", icons[closestFeature.properties.activitytype][1]);
                }

                map.getSource('selected-source').setData({
                        type: 'FeatureCollection',
                        features: [trackCache.get(closestFeature.properties.id)]
                    }
                );
            }
        });

        map.on('mouseenter', 'tracks-layer', function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', 'tracks-layer', function () {
            map.getCanvas().style.cursor = '';
        });

        map.on('mouseenter', 'tracks-layer', function (e) {
            var features = map.queryRenderedFeatures(e.point, {
                layers: ['tracks-layer']
            });

            if (features[0].properties.name !== undefined) {
                map.getSource('mouseover-source').setData({
                        type: 'FeatureCollection',
                        features: [trackCache.get(features[0].properties.id)]
                    }
                );
            }
        });

        map.on('mouseleave', 'tracks-layer', function (e) {
            map.getSource('mouseover-source').setData({
                    type: 'FeatureCollection',
                    features: []
                }
            );
        });
    }

    function findClosestLineString(point, lineStrings) {
        let closestLineString = null;
        let minDistance = Infinity;

        lineStrings.forEach(lineString => {
            const nearestPointOnLine = turf.nearestPointOnLine(lineString, point);
            if (nearestPointOnLine.properties.dist < minDistance) {
                minDistance = nearestPointOnLine.properties.dist;
                closestLineString = lineString;
            }
        });
        return closestLineString;
    }

    var loadedTracks = new Set();

    var trackCache = new Map();


    async function fetchgeojson(trackid) {
        if (trackid === undefined) {
            console.log("Fetchgeojson: undefined");
            return;
        }
        if (loadedTracks.has(trackid))
            return;
        loadedTracks.add(trackid);

        if (trackCache.has(trackid)) {
            showgeojson(trackCache.get(trackid));
        } else {
            var url = "/api/slim_geojson/" + trackid + ".geojson";
            fetch(url)
                .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        document.getElementById("errorbox").style.display = 'block';
                    }
                })
                .then(jsondata => {
                    trackCache.set(trackid, jsondata);
                    showgeojson(jsondata)
                });
        }
    }

    function showgeojson(jsondata) {
        if (filterBy !== "none" && filterBy !== jsondata.properties.activitytype)
            return;
        if (jsondata.properties.trackgroup) {
            jsondata.properties.trackgroupentrycount = activitiesposition.find((entry) => entry.trackgroup === jsondata.properties.trackgroup).trackgroupentrycount;
            let color = d3.interpolateOranges(Math.min(5, jsondata.properties.trackgroupentrycount)*0.04 + 0.7);
            jsondata.properties.color = color.replace('rgb(', 'rgba(').replace(')', `, 0.7)`);
            jsondata.properties.width = Math.min(Math.max(3, jsondata.properties.trackgroupentrycount),5);
        }
        else {
            let color = d3.interpolateOranges((Math.random() / 3) + 0.35);
            jsondata.properties.color = color.replace('rgb(', 'rgba(').replace(')', `, 0.7)`);
            jsondata.properties.width = 3;
        }

        geojsonfeatures.push(jsondata);
        map.getSource('tracks').setData({
                type: 'FeatureCollection',
                features: geojsonfeatures
            }
        );
    }

    function deselectTrack() {
        map.getSource('selected-source').setData({
                type: 'FeatureCollection',
                features: []
            }
        );
        document.getElementById("act_card").style.display = "none";
    }
</script>
</html>